/************************************************** RESPONSIVE **********************************************************/
.scrollmob {
  display: none; }

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .language {
    right: 42px; }
  .side-nav {
    right: 35px !important; }
  .scroll {
    right: 44px; }
  #intro h1 span {
    font-size: 100px; }
  #team:before {
    font-size: 250px; }
  #team h1 {
    font-size: 50px;
    margin-top: 50px; }
  #team .member {
    padding-top: 50px; }
    #team .member .illustration img {
      max-height: 17rem; }
  #projects .projects-info {
    padding: 20px 40px; }
    #projects .projects-info h1 {
      font-size: 50px;
      margin: 20px 0 0; }
    #projects .projects-info p {
      font-size: 15px;
      font-weight: 200; }
  #modals .projectInfo .memberInfo-right p {
    font-size: 15px;
    line-height: 1.5; }
  #modals .close-info {
    right: 31px; }
  #portfolio:before {
    font-size: 150px; }
  #portfolio .back-img {
    width: 600px; }
  #portfolio .work-info h2 {
    font-size: 50px; }
  #portfolio .active .work-info {
    transform: translate3D(-400px, -50%, 0);
    -moz-transform: translate3D(-400px, -50%, 0);
    -webkit-transform: translate3D(-400px, -50%, 0); }
  #portfolio .baleinev .front-img img {
    max-height: 250px;
    width: auto; }
  #portfolio .festigeek .front-img img {
    max-height: 170px;
    width: auto; }
  #portfolio .balelec .front-img img {
    max-height: 150px;
    width: auto; }
  #testimonials:before {
    font-size: 150px; }
  #testimonials h1 {
    margin: 50px 0 0;
    font-size: 50px; }
  #testimonials .clients {
    top: 35%;
    max-width: 700px; }
    #testimonials .clients blockquote, #testimonials .clients cite {
      font-size: 17px; }
  #testimonials .pictures img {
    max-width: 80%;
    height: auto; }
  #contact:before {
    font-size: 150px;
    top: 0; }
  #contact .contact-box {
    margin-top: 30px;
    height: 470px; }
    #contact .contact-box h1 {
      margin: -65px 0 0;
      font-size: 50px; }
      #contact .contact-box h1 span {
        font-size: 41px; }
    #contact .contact-box .contact-right #contact-form {
      padding: 30px 30px 0; } }

@media screen and (max-width: 900px) {
  .scrollmob {
    display: block;
    position: absolute;
    top: 100vh;
    left: 50%;
    width: 2px;
    height: 30px;
    overflow: hidden;
    z-index: 99;
    transform: translate3d(-50%, -160px, 0);
    -moz-transform: translate3d(-50%, -160px, 0);
    -webkit-transform: translate3d(-50%, -160px, 0); }
    .scrollmob .scrolling {
      width: 100%;
      height: 100%;
      background: #fff;
      top: 0;
      left: 0;
      opacity: 0;
      animation-name: scrolling;
      animation-delay: 3.8s;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards; }
  @keyframes scrolling {
    0% {
      opacity: 1;
      transform: translate3D(0, -100%, 0); }
    50% {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    100% {
      opacity: 1;
      transform: translate3D(0, 100%, 0); } }
  aside {
    height: 100%;
    left: -100px;
    position: absolute; }
    aside .menu-icon {
      width: 70px;
      height: 60px !important;
      border-bottom: 0 solid #fbfbfd;
      left: auto !important;
      right: 5px !important;
      position: fixed !important; }
      aside .menu-icon .line-1, aside .menu-icon .line-2 {
        background: #fff;
        width: 40px;
        height: 3px; }
      aside .menu-icon .line-3 {
        background: #fff;
        width: 20px;
        margin-left: 10px; }
    aside .menu {
      width: calc(100% - 80px);
      height: 100%;
      right: 80px; }
      aside .menu ul li {
        width: 100%;
        height: auto;
        margin: 15px auto;
        border: 0; }
        aside .menu ul li a span:nth-child(1) {
          font-size: 17px; }
        aside .menu ul li a span:nth-child(2) {
          font-size: 13px; }
    aside .logo {
      width: 80px; }
      aside .logo a img {
        width: 60px;
        height: auto; }
    aside .social {
      right: -63px; }
  .side-nav {
    display: none; }
  .language {
    top: 15px;
    left: 15px; }
  .wrap {
    width: 100%; }
  .video-overlay {
    background: url(/img/menu-bg.jpg) no-repeat center center;
    background-size: cover; }
  #intro {
    background-size: 250px auto; }
    #intro h1 span {
      font-size: 40px; }
      #intro h1 span.h1-1 {
        font-size: 34px;
        line-height: 1.1; }
      #intro h1 span.h1-3 {
        transform: translate3d(-60px, 0, 0);
        -moz-transform: translate3d(-60px, 0, 0);
        -webkit-transform: translate3d(-60px, 0, 0); }
  #team h1 {
    margin: 35px 0 0px;
    font-size: 34px;
    position: relative;
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important; }
  #team .member {
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 30px 0; }
    #team .member .illustration, #team .member .member-info {
      transform: none !important;
      -moz-transform: none !important;
      -webkit-transform: none !important; }
  #modals .memberInfo .memberInfo-right {
    width: 100%;
    height: 100vh;
    padding: 50px 40px 0; }
    #modals .memberInfo .memberInfo-right p {
      margin: 20px 0; }
  #modals .memberInfo .member-nav {
    display: none; }
    #modals .memberInfo .member-nav .nav-next {
      right: 20px; }
    #modals .memberInfo .member-nav .nav-prev {
      left: 20px; }
    #modals .memberInfo .member-nav .nav-cv a {
      width: 160px;
      padding: 0 10px;
      font-size: 13px;
      letter-spacing: 0; }
  #modals .projectInfo .memberInfo-right {
    padding: 50px 40px 0; }
    #modals .projectInfo .memberInfo-right h2 {
      font-size: 30px;
      margin-bottom: 20px; }
    #modals .projectInfo .memberInfo-right p {
      margin: 20px 0 0;
      text-align: left;
      font-size: 13px; }
      #modals .projectInfo .memberInfo-right p.video {
        max-width: 100%;
        margin: 20px auto 10px; }
        #modals .projectInfo .memberInfo-right p.video iframe {
          max-width: 110%;
          height: auto;
          margin-left: -5%; }
      #modals .projectInfo .memberInfo-right p:last-child {
        margin-bottom: 40px; }
  .flyers-info .menu-icon, .webdev-info .menu-icon, .design-info .menu-icon, .street-info .menu-icon, .comunique-info .menu-icon {
    opacity: 0;
    visibility: hidden; }
  .flyers-info .memberInfo.flyersInfo, .flyers-info .memberInfo.webdevInfo, .flyers-info .memberInfo.designInfo, .flyers-info .memberInfo.streetInfo, .flyers-info .memberInfo.comuniqueInfo, .webdev-info .memberInfo.flyersInfo, .webdev-info .memberInfo.webdevInfo, .webdev-info .memberInfo.designInfo, .webdev-info .memberInfo.streetInfo, .webdev-info .memberInfo.comuniqueInfo, .design-info .memberInfo.flyersInfo, .design-info .memberInfo.webdevInfo, .design-info .memberInfo.designInfo, .design-info .memberInfo.streetInfo, .design-info .memberInfo.comuniqueInfo, .street-info .memberInfo.flyersInfo, .street-info .memberInfo.webdevInfo, .street-info .memberInfo.designInfo, .street-info .memberInfo.streetInfo, .street-info .memberInfo.comuniqueInfo, .comunique-info .memberInfo.flyersInfo, .comunique-info .memberInfo.webdevInfo, .comunique-info .memberInfo.designInfo, .comunique-info .memberInfo.streetInfo, .comunique-info .memberInfo.comuniqueInfo {
    height: 100vh;
    padding: 0 0px; }
    .flyers-info .memberInfo.flyersInfo .close-info, .flyers-info .memberInfo.webdevInfo .close-info, .flyers-info .memberInfo.designInfo .close-info, .flyers-info .memberInfo.streetInfo .close-info, .flyers-info .memberInfo.comuniqueInfo .close-info, .webdev-info .memberInfo.flyersInfo .close-info, .webdev-info .memberInfo.webdevInfo .close-info, .webdev-info .memberInfo.designInfo .close-info, .webdev-info .memberInfo.streetInfo .close-info, .webdev-info .memberInfo.comuniqueInfo .close-info, .design-info .memberInfo.flyersInfo .close-info, .design-info .memberInfo.webdevInfo .close-info, .design-info .memberInfo.designInfo .close-info, .design-info .memberInfo.streetInfo .close-info, .design-info .memberInfo.comuniqueInfo .close-info, .street-info .memberInfo.flyersInfo .close-info, .street-info .memberInfo.webdevInfo .close-info, .street-info .memberInfo.designInfo .close-info, .street-info .memberInfo.streetInfo .close-info, .street-info .memberInfo.comuniqueInfo .close-info, .comunique-info .memberInfo.flyersInfo .close-info, .comunique-info .memberInfo.webdevInfo .close-info, .comunique-info .memberInfo.designInfo .close-info, .comunique-info .memberInfo.streetInfo .close-info, .comunique-info .memberInfo.comuniqueInfo .close-info {
      position: absolute;
      top: 0px;
      right: 8px;
      z-index: 999;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background: #fbfbfd; }
    .flyers-info .memberInfo.flyersInfo .memberInfo-right, .flyers-info .memberInfo.webdevInfo .memberInfo-right, .flyers-info .memberInfo.designInfo .memberInfo-right, .flyers-info .memberInfo.streetInfo .memberInfo-right, .flyers-info .memberInfo.comuniqueInfo .memberInfo-right, .webdev-info .memberInfo.flyersInfo .memberInfo-right, .webdev-info .memberInfo.webdevInfo .memberInfo-right, .webdev-info .memberInfo.designInfo .memberInfo-right, .webdev-info .memberInfo.streetInfo .memberInfo-right, .webdev-info .memberInfo.comuniqueInfo .memberInfo-right, .design-info .memberInfo.flyersInfo .memberInfo-right, .design-info .memberInfo.webdevInfo .memberInfo-right, .design-info .memberInfo.designInfo .memberInfo-right, .design-info .memberInfo.streetInfo .memberInfo-right, .design-info .memberInfo.comuniqueInfo .memberInfo-right, .street-info .memberInfo.flyersInfo .memberInfo-right, .street-info .memberInfo.webdevInfo .memberInfo-right, .street-info .memberInfo.designInfo .memberInfo-right, .street-info .memberInfo.streetInfo .memberInfo-right, .street-info .memberInfo.comuniqueInfo .memberInfo-right, .comunique-info .memberInfo.flyersInfo .memberInfo-right, .comunique-info .memberInfo.webdevInfo .memberInfo-right, .comunique-info .memberInfo.designInfo .memberInfo-right, .comunique-info .memberInfo.streetInfo .memberInfo-right, .comunique-info .memberInfo.comuniqueInfo .memberInfo-right {
      width: 100%;
      padding: 50px 40px 0;
      background: #fbfbfd;
      height: calc(100vh - 20px);
      overflow-y: scroll;
      display: block;
      box-shadow: 0 20px 0 0 #fbfbfd;
      -moz-box-shadow: 0 20px 0 0 #fbfbfd;
      -webkit-box-shadow: 0 20px 0 0 #fbfbfd; }
      .flyers-info .memberInfo.flyersInfo .memberInfo-right p, .flyers-info .memberInfo.webdevInfo .memberInfo-right p, .flyers-info .memberInfo.designInfo .memberInfo-right p, .flyers-info .memberInfo.streetInfo .memberInfo-right p, .flyers-info .memberInfo.comuniqueInfo .memberInfo-right p, .webdev-info .memberInfo.flyersInfo .memberInfo-right p, .webdev-info .memberInfo.webdevInfo .memberInfo-right p, .webdev-info .memberInfo.designInfo .memberInfo-right p, .webdev-info .memberInfo.streetInfo .memberInfo-right p, .webdev-info .memberInfo.comuniqueInfo .memberInfo-right p, .design-info .memberInfo.flyersInfo .memberInfo-right p, .design-info .memberInfo.webdevInfo .memberInfo-right p, .design-info .memberInfo.designInfo .memberInfo-right p, .design-info .memberInfo.streetInfo .memberInfo-right p, .design-info .memberInfo.comuniqueInfo .memberInfo-right p, .street-info .memberInfo.flyersInfo .memberInfo-right p, .street-info .memberInfo.webdevInfo .memberInfo-right p, .street-info .memberInfo.designInfo .memberInfo-right p, .street-info .memberInfo.streetInfo .memberInfo-right p, .street-info .memberInfo.comuniqueInfo .memberInfo-right p, .comunique-info .memberInfo.flyersInfo .memberInfo-right p, .comunique-info .memberInfo.webdevInfo .memberInfo-right p, .comunique-info .memberInfo.designInfo .memberInfo-right p, .comunique-info .memberInfo.streetInfo .memberInfo-right p, .comunique-info .memberInfo.comuniqueInfo .memberInfo-right p {
        margin: 20px 0;
        text-align: left;
        font-size: 13px; }
  .smartHome-info .menu-icon, .bDev-info .menu-icon {
    opacity: 0;
    visibility: hidden; }
  .smartHome-info .projectInfo.smartInfo, .smartHome-info .projectInfo.bDeveInfo, .bDev-info .projectInfo.smartInfo, .bDev-info .projectInfo.bDeveInfo {
    padding: 0; }
    .smartHome-info .projectInfo.smartInfo .close-info, .smartHome-info .projectInfo.bDeveInfo .close-info, .bDev-info .projectInfo.smartInfo .close-info, .bDev-info .projectInfo.bDeveInfo .close-info {
      top: 10px;
      right: 10px; }
  #projects {
    display: block;
    overflow: auto; }
    #projects .projects-info {
      width: 100%;
      height: 100%;
      padding: 20px; }
      #projects .projects-info h1 {
        font-size: 34px;
        margin: 0; }
      #projects .projects-info p {
        font-size: 17px; }
    #projects .project {
      width: 100%;
      height: 300px; }
      #projects .project h2 {
        font-size: 30px;
        margin: 0;
        transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important; }
      #projects .project p {
        font-size: 17px;
        margin: 0;
        transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important; }
  #portfolio:before {
    right: -20px;
    top: 30px;
    font-size: 60px; }
  #portfolio .back-img {
    width: calc(100% - 40px);
    opacity: 1; }
  #portfolio .front-img {
    max-height: 200px;
    width: auto;
    top: 48%;
    opacity: 1; }
  #portfolio .work-info {
    transform: translate3D(0%, -25%, 0);
    -moz-transform: translate3D(0%, -25%, 0);
    -webkit-transform: translate3D(0%, -25%, 0);
    margin-left: -40px;
    opacity: 1;
    left: 80px; }
    #portfolio .work-info h2 {
      font-size: 30px;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
      margin: 20px 0px -10px 0px; }
  #testimonials h1 {
    margin: 30px 0 20px;
    font-size: 34px;
    position: relative; }
  #testimonials .clients {
    position: relative;
    top: auto;
    max-width: 100%;
    padding: 0 20px;
    margin: 70px auto 0;
    transform: translate3d(-50%, 0%, 0);
    -moz-transform: translate3d(-50%, 0%, 0);
    -webkit-transform: translate3d(-50%, 0%, 0); }
    #testimonials .clients blockquote, #testimonials .clients cite {
      font-size: 15px;
      margin: 0 auto 20px;
      padding: 0 20px; }
  #testimonials .pictures img {
    max-width: 90%;
    height: auto; }
  #contact {
    min-height: 1000px;
    height: auto;
    top: 0 !important;
    overflow-y: auto;
    overflow-x: hidden; }
    #contact:before {
      right: -10px;
      top: 85px;
      font-size: 45px; }
    #contact h1 {
      font-size: 36px; }
      #contact h1 span {
        font-size: 30px; }
    #contact .contact-box {
      width: calc(100% - 40px);
      height: auto; }
      #contact .contact-box .contact-left {
        width: 100%;
        height: 200px;
        background-position: center; }
      #contact .contact-box .contact-right {
        width: 100%; }
        #contact .contact-box .contact-right #contact-form {
          padding: 20px 20px 130px;
          transform: none !important;
          -moz-transform: none !important;
          -webkit-transform: none !important; }
        #contact .contact-box .contact-right .contact-info, #contact .contact-box .contact-right .social-icon {
          transform: none !important;
          -moz-transform: none !important;
          -webkit-transform: none !important; }
          #contact .contact-box .contact-right .contact-info li, #contact .contact-box .contact-right .social-icon li {
            font-size: 13px; }
  .menu-open aside {
    left: 0;
    position: fixed; }
    .menu-open aside .menu-icon {
      left: auto !important;
      right: 5px !important;
      top: 10px !important; }
      .menu-open aside .menu-icon .line-1, .menu-open aside .menu-icon .line-2 {
        background: #373737; }
      .menu-open aside .menu-icon .line-3 {
        width: 0px; } }

@media screen and (max-width: 900px) and (orientation: landscape) {
  .scrollmob {
    transform: translate3d(-50%, -70px, 0);
    -moz-transform: translate3d(-50%, -70px, 0);
    -webkit-transform: translate3d(-50%, -70px, 0); }
  aside .menu ul li {
    width: 33.33%;
    height: 50vh;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    transition: .8s;
    float: left;
    clear: none;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  aside .social {
    display: none; }
  .loaded aside .logo {
    opacity: 1;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    top: auto;
    bottom: 10px; }
  #portfolio .back-img {
    width: calc(100% - 250px); }
  #portfolio .front-img {
    width: 130px;
    top: 48%;
    opacity: 1; }
  #portfolio .owl-prev {
    bottom: 30px;
    left: auto;
    right: 100px; }
  #portfolio .owl-next {
    bottom: 30px;
    left: auto;
    right: 50px; }
  #modals .projectInfo .memberInfo-right p.video iframe {
    min-height: 280px; }
  #testimonials {
    min-height: 500px; } }

@media screen and (min-width: 500px) and (max-width: 900px) and (orientation: portrait) {
  #intro h1 span {
    font-size: 100px; }
    #intro h1 span.h1-1 {
      font-size: 64px; }
  #team h1 {
    font-size: 64px; }
  #projects {
    min-height: auto; }
    #projects .projects-info {
      padding: 50px; }
      #projects .projects-info h1 {
        font-size: 64px; }
  #modals .memberInfo .memberInfo-right {
    padding: 0 40px;
    position: absolute;
    bottom: 50px;
    top: auto;
    height: auto; }
  #modals .projectInfo .memberInfo-right p.video iframe {
    min-height: 380px; }
  #portfolio:before {
    right: -20px;
    top: 120px;
    font-size: 110px; }
  #portfolio .back-img {
    width: calc(100% - 200px); }
  #portfolio .front-img img {
    max-height: 240px;
    width: auto; }
  #portfolio .work-info h2 {
    font-size: 50px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    margin: -20px 0 -10px; }
  #testimonials h1 {
    font-size: 64px;
    margin: 135px 0 0; }
  #testimonials .clients {
    position: absolute;
    top: 45%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto 0;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    left: 0; }
    #testimonials .clients blockquote, #testimonials .clients cite {
      font-size: 17px; }
  #testimonials .pictures img {
    top: -200px;
    position: relative; }
  #contact:before {
    right: -10px;
    top: 85px;
    font-size: 100px; }
  #contact h1 {
    font-size: 64px; }
    #contact h1 span {
      font-size: 52px; } }

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #projects {
    display: block; }
    #projects .projects-info {
      width: 50%; }
    #projects .project {
      width: 50%;
      height: 50vh; }
  #testimonials .clients {
    max-width: calc(100% - 100px);
    width: 100%; }
  #contact .contact-box {
    width: calc(100% - 140px); } }
