.jack-info {
  overflow: hidden !important; }
  .jack-info .side-nav {
    opacity: 0;
    transform: translate3d(200px, -50%, 0);
    -moz-transform: translate3d(200px, -50%, 0);
    -webkit-transform: translate3d(200px, -50%, 0); }
  .jack-info #team h1 {
    opacity: 0;
    margin-left: 30%; }
  .jack-info .member {
    transform: translate3D(-100%, 0, 0); }
    .jack-info .member.Smart {
      transform: translate3D(100%, 0, 0); }
    .jack-info .member .member-info a {
      opacity: 0;
      visibility: hidden; }
  .jack-info .memberInfo.jackInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    transform: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #373737;
    opacity: 1;
    visibility: visible;
    padding: 0px 100px;
    transition: 0.4s;
    transition-delay: 0.1s; }
    .jack-info .memberInfo.jackInfo .close-info {
      position: absolute;
      top: 50px;
      right: 80px;
      z-index: 999;
      cursor: pointer;
      width: 50px;
      height: 50px; }
      .jack-info .memberInfo.jackInfo .close-info:before {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(45deg); }
      .jack-info .memberInfo.jackInfo .close-info:after {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(-45deg); }
    .jack-info .memberInfo.jackInfo .memberInfo-right {
      width: 66.66%;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
      .jack-info .memberInfo.jackInfo .memberInfo-right p {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin: 20px 0 0;
        max-width: 800px; }
