/********************************************************** BASIC ********************************************************/
.flex-column, #intro, .service, .flyers-info .serviceInfo.flyersInfo .serviceInfo-right, .webdev-info .serviceInfo.webdevInfo .serviceInfo-right, .design-info .serviceInfo.designInfo .serviceInfo-right, .street-info .serviceInfo.streetInfo .serviceInfo-right, .comunique-info .serviceInfo.comuniqueInfo .serviceInfo-right {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.move-h1, #intro h1 .h1-1, #intro h1 .h1-2, #intro h1 .h1-3, #intro h1 .h1-4 {
  opacity: 0;
  animation-name: moveh1-2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  font-size: 60px;
  font-weight: 200;
  line-height: 1.5; }

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  outline: none; }

body {
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
  overflow-x: hidden; }

section {
  clear: both; }

b, strong {
  font-weight: 800; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  display: inline-block; }

.clearfix {
  clear: both; }

.mobile {
  display: none; }

body.loaded {
  overflow: auto; }

body.menu-open {
  overflow: hidden; }

#modals {
  z-index: 9; }

/********************************************************** WRAP ********************************************************/
.wrap {
  background: #fbfbfd;
  width: 100%;
  min-height: 200vh;
  float: right;
  position: relative; }

/********************************************************** ASIDE ********************************************************/
.side-nav {
  position: fixed;
  right: 10px !important;
  top: 50% !important;
  left: auto !important;
  width: 30px !important;
  z-index: 9999;
  transform: translate3d(0, -50%, 0);
  transition: 0.4s; }
  .side-nav li {
    width: 14px;
    height: 14px;
    display: block;
    margin: 20px 0;
    position: relative;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: .3s; }
    .side-nav li a {
      display: block;
      width: 14px;
      height: 14px;
      background: #fff;
      opacity: 0;
      position: absolute;
      left: -2px;
      top: -2px;
      border-radius: 50%; }
      .side-nav li a.active {
        opacity: 1; }

.midnightHeader.blue .line-1, .midnightHeader.blue .line-2, .midnightHeader.blue .line-3 {
  background: #4B83C0 !important; }

.midnightHeader.blue li {
  border-color: #4B83C0; }
  .midnightHeader.blue li a {
    background: #4B83C0; }

.midnightHeader.white li {
  border-color: #fff; }
  .midnightHeader.white li a {
    background: #fff; }

/********************************************************** Intro ********************************************************/
#intro {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 4;
  text-align: center;
  padding-bottom: 20px;
  background: url(../img/video-o.png) no-repeat right top;
  background-size: 450px auto;
  overflow: hidden; }
  #intro .centrocentered {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px; }
  #intro h1 {
    color: #fff;
    margin: 0; }
    #intro h1 span {
      display: block;
      font-size: 140px;
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
      line-height: 0.9;
      text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25); }
    #intro h1 .h1-1 {
      transform: translate3d(0px, -40px, 0);
      -moz-transform: translate3d(0px, -40px, 0);
      -webkit-transform: translate3d(0px, -40px, 0);
      z-index: 4;
      animation-delay: .4s; }
    #intro h1 .h1-2 {
      transform: translate3d(310px, 20px, 0);
      -moz-transform: translate3d(310px, 20px, 0);
      -webkit-transform: translate3d(310px, 20px, 0);
      z-index: 5;
      animation-delay: 1.0s; }
    #intro h1 .h1-3 {
      transform: translate3d(-300px, -30px, 0);
      -moz-transform: translate3d(-300px, -30px, 0);
      -webkit-transform: translate3d(-300px, -30px, 0);
      z-index: 6;
      animation-delay: 1.6s; }
    #intro h1 .h1-4 {
      transform: translate3d(330px, -90px, 0);
      -moz-transform: translate3d(330px, -90px, 0);
      -webkit-transform: translate3d(330px, -90px, 0);
      z-index: 7;
      animation-delay: 2.2s; }

@keyframes moveh1-2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.scroll {
  position: absolute;
  right: 93px;
  bottom: 50px;
  display: none; }
  .scroll img {
    display: block; }
  .scroll:before {
    content: '';
    background: #fff;
    width: 1px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -1px; }

.language {
  position: absolute;
  top: 50px;
  right: 92px;
  z-index: 5; }
  .language ul li {
    width: 30px;
    text-align: center; }
    .language ul li a {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      display: block;
      line-height: 30px;
      text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4); }
    .language ul li ul {
      padding-top: 10px;
      opacity: 0;
      transition: 0.4s;
      -moz-transition: 0.4s;
      -webkit-transition: 0.4s;
      transform: translate3d(0, -20px, 0);
      -moz-transform: translate3d(0, -20px, 0);
      -webkit-transform: translate3d(0, -20px, 0); }
      .language ul li ul li {
        width: 30px;
        display: block;
        padding: 10px 0;
        text-align: center; }
        .language ul li ul li a {
          color: #fff;
          font-size: 17px; }
  .language ul li:hover ul {
    opacity: 1;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none; }

/************************************************** services ********************************************************************/
#services {
  background: #fbfbfd;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 4;
  height: auto;
  padding: 0 0 50px;
  overflow: hidden;
  top: 0 !important; }
  #services h1 {
    width: 100%;
    margin: 135px 0 0;
    color: #373737;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 6;
    text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15); }
    #services h1 b {
      color: #4B83C0;
      font-weight: 900; }
  #services:before {
    content: 'services';
    position: absolute;
    right: -90px;
    top: 0;
    color: #f2f2f5;
    font-size: 300px;
    font-weight: 900;
    text-transform: uppercase; }

.service {
  width: 20%;
  min-height: 100vh;
  position: relative;
  float: left;
  z-index: 5;
  border-right: 0px solid #f2f2f5;
  transition: 0.4s; }
  .service .illustration {
    text-align: center;
    position: relative;
    /**
    animation: slowmove2 5s infinite;
    **/ }
    .service .illustration img {
      display: block;
      margin: 0 auto;
      border-bottom: 1px solid #f2f2f5;
      position: relative;
      max-height: 22rem; }
  .service:nth-child(3), .service:nth-child(5) {
    border-left: 1px solid #f2f2f5;
    border-right: 1px solid #f2f2f5; }

.service-info {
  display: block;
  text-align: center; }
  .service-info h2 {
    color: #373737;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px auto 5px;
    position: relative; }
    .service-info h2 b {
      font-weight: 900;
      color: #4B83C0; }
  .service-info p {
    color: #373737;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
    position: relative; }
  .service-info a {
    display: inline-block;
    margin: 20px auto 0;
    padding: 15px 30px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #373737;
    font-weight: 700;
    border: 1px solid #373737;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    box-shadow: 0 0 0 0 #373737 inset;
    -moz-box-shadow: 0 0 0 0 #373737 inset;
    -webkit-box-shadow: 0 0 0 0 #373737 inset;
    position: relative; }
    .service-info a b {
      color: #4B83C0;
      transition: 0.4s;
      -moz-transition: 0.4s;
      -webkit-transition: 0.4s; }
  .service-info a:hover {
    color: #fff;
    box-shadow: 0 -60px 0 0 #373737 inset;
    -moz-box-shadow: 0 -60px 0 0 #373737 inset;
    -webkit-box-shadow: 0 -60px 0 0 #373737 inset; }
    .service-info a:hover b {
      color: #fff; }

.serviceInfo {
  background: transparent;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  z-index: 9;
  padding: 0px 100px;
  transform: translate3d(100%, 0, 0); }
  .serviceInfo .serviceInfo-right {
    width: 80%;
    float: right;
    height: 100vh;
    padding: 100px;
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition: .6s;
    transition-delay: .4s;
    transition: opacity .6s .5s; }
  .serviceInfo .service-nav {
    background: #fff;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #f2f2f5; }
    .serviceInfo .service-nav .nav-prev {
      position: absolute;
      left: 50px;
      top: 20px;
      width: 70px;
      height: 40px;
      cursor: pointer; }
      .serviceInfo .service-nav .nav-prev img {
        max-height: 40px;
        width: auto;
        left: 30px;
        position: absolute; }
      .serviceInfo .service-nav .nav-prev .service-prev {
        position: absolute;
        left: 0;
        top: 20px;
        height: 40px; }
        .serviceInfo .service-nav .nav-prev .service-prev:before, .serviceInfo .service-nav .nav-prev .service-prev:after {
          content: '';
          position: absolute;
          top: 4px;
          width: 14px;
          height: 3px;
          background: #4B83C0;
          transform: rotate(45deg); }
        .serviceInfo .service-nav .nav-prev .service-prev:after {
          top: -5px;
          transform: rotate(-45deg); }
    .serviceInfo .service-nav .nav-contact {
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%); }
      .serviceInfo .service-nav .nav-contact a {
        width: 200px;
        height: 40px;
        display: block;
        color: #4B83C0;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 0 20px;
        line-height: 38px;
        letter-spacing: .1em;
        border: 1px solid #4B83C0;
        box-shadow: 0 0 0 0 #4B83C0 inset;
        -moz-box-shadow: 0 0 0 0 #4B83C0 inset;
        -webit-box-shadow: 0 0 0 0 #4B83C0 inset;
        transition: .4s;
        -moz-transition: .4s;
        -webkit-transition: .4s; }
        .serviceInfo .service-nav .nav-contact a:hover {
          color: #fff;
          box-shadow: 0 -40px 0 0 #4B83C0 inset;
          -moz-box-shadow: 0 -40px 0 0 #4B83C0 inset;
          -webkit-box-shadow: 0 -40px 0 0 #4B83C0 inset; }
    .serviceInfo .service-nav .nav-next {
      position: absolute;
      right: 50px;
      top: 20px;
      width: 70px;
      height: 40px;
      cursor: pointer; }
      .serviceInfo .service-nav .nav-next img {
        max-height: 40px;
        width: auto;
        right: 30px;
        position: absolute; }
      .serviceInfo .service-nav .nav-next .service-next {
        position: absolute;
        top: 20px;
        right: 15px;
        height: 40px; }
        .serviceInfo .service-nav .nav-next .service-next:before, .serviceInfo .service-nav .nav-next .service-next:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 3px;
          background: #4B83C0;
          top: 5px;
          transform: rotate(-45deg); }
        .serviceInfo .service-nav .nav-next .service-next:after {
          top: -4px;
          transform: rotate(45deg); }

.flyers-info {
  overflow: hidden !important; }
  .flyers-info .side-nav {
    opacity: 0;
    transform: translate3d(200px, -50%, 0);
    -moz-transform: translate3d(200px, -50%, 0);
    -webkit-transform: translate3d(200px, -50%, 0); }
  .flyers-info #services h1 {
    opacity: 0;
    margin-left: -30%; }
  .flyers-info .service {
    transform: translate3D(0%, 0, 0); }
    .flyers-info .service .service-info a {
      opacity: 0;
      visibility: hidden; }
  .flyers-info .serviceInfo.flyersInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    transform: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #373737;
    opacity: 1;
    visibility: visible;
    padding: 0px 100px;
    transition: 0.4s;
    transition-delay: 0.1s; }
    .flyers-info .serviceInfo.flyersInfo .close-info {
      position: absolute;
      top: 50px;
      right: 80px;
      z-index: 999;
      cursor: pointer;
      width: 50px;
      height: 50px; }
      .flyers-info .serviceInfo.flyersInfo .close-info:before {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(45deg); }
      .flyers-info .serviceInfo.flyersInfo .close-info:after {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(-45deg); }
    .flyers-info .serviceInfo.flyersInfo .serviceInfo-right {
      width: 80%;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
      .flyers-info .serviceInfo.flyersInfo .serviceInfo-right p {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin: 20px 0 0; }
  .flyers-info .service.flyers {
    transform: translate3D(0%, 0, 0); }
  .flyers-info .service.webdev {
    transform: translate3D(400%, 0, 0); }
  .flyers-info .service.design {
    transform: translate3D(300%, 0, 0); }
  .flyers-info .service.street {
    transform: translate3D(200%, 0, 0); }
  .flyers-info .service.comunique {
    transform: translate3D(100%, 0, 0); }

.webdev-info {
  overflow: hidden !important; }
  .webdev-info .side-nav {
    opacity: 0;
    transform: translate3d(200px, -50%, 0);
    -moz-transform: translate3d(200px, -50%, 0);
    -webkit-transform: translate3d(200px, -50%, 0); }
  .webdev-info #services h1 {
    opacity: 0;
    margin-left: -30%; }
  .webdev-info .service {
    transform: translate3D(300%, 0, 0); }
    .webdev-info .service .service-info a {
      opacity: 0;
      visibility: hidden; }
  .webdev-info .serviceInfo.webdevInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    transform: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #373737;
    opacity: 1;
    visibility: visible;
    padding: 0px 100px;
    transition: 0.4s;
    transition-delay: 0.1s; }
    .webdev-info .serviceInfo.webdevInfo .close-info {
      position: absolute;
      top: 50px;
      right: 80px;
      z-index: 999;
      cursor: pointer;
      width: 50px;
      height: 50px; }
      .webdev-info .serviceInfo.webdevInfo .close-info:before {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(45deg); }
      .webdev-info .serviceInfo.webdevInfo .close-info:after {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(-45deg); }
    .webdev-info .serviceInfo.webdevInfo .serviceInfo-right {
      width: 80%;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
      .webdev-info .serviceInfo.webdevInfo .serviceInfo-right p {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin: 20px 0 0; }
  .webdev-info .service.flyers {
    transform: translate3D(-100%, 0, 0); }
  .webdev-info .service.webdev {
    transform: translate3D(-100%, 0, 0); }
  .webdev-info .service.design {
    transform: translate3D(300%, 0, 0); }
  .webdev-info .service.street {
    transform: translate3D(200%, 0, 0); }
  .webdev-info .service.comunique {
    transform: translate3D(100%, 0, 0); }

.design-info {
  overflow: hidden !important; }
  .design-info .side-nav {
    opacity: 0;
    transform: translate3d(200px, -50%, 0);
    -moz-transform: translate3d(200px, -50%, 0);
    -webkit-transform: translate3d(200px, -50%, 0); }
  .design-info #services h1 {
    opacity: 0;
    margin-left: 30%; }
  .design-info .service {
    transform: translate3D(200%, 0, 0); }
    .design-info .service .service-info a {
      opacity: 0;
      visibility: hidden; }
  .design-info .serviceInfo.designInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    transform: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #373737;
    opacity: 1;
    visibility: visible;
    padding: 0px 100px;
    transition: 0.4s;
    transition-delay: 0.1s; }
    .design-info .serviceInfo.designInfo .close-info {
      position: absolute;
      top: 50px;
      right: 80px;
      z-index: 999;
      cursor: pointer;
      width: 50px;
      height: 50px; }
      .design-info .serviceInfo.designInfo .close-info:before {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(45deg); }
      .design-info .serviceInfo.designInfo .close-info:after {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(-45deg); }
    .design-info .serviceInfo.designInfo .serviceInfo-right {
      width: 80%;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
      .design-info .serviceInfo.designInfo .serviceInfo-right p {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin: 20px 0 0; }
  .design-info .service.flyers {
    transform: translate3D(-100%, 0, 0); }
  .design-info .service.webdev {
    transform: translate3D(-200%, 0, 0); }
  .design-info .service.design {
    transform: translate3D(-200%, 0, 0); }
  .design-info .service.street {
    transform: translate3D(200%, 0, 0); }
  .design-info .service.comunique {
    transform: translate3D(100%, 0, 0); }

.street-info {
  overflow: hidden !important; }
  .street-info .side-nav {
    opacity: 0;
    transform: translate3d(200px, -50%, 0);
    -moz-transform: translate3d(200px, -50%, 0);
    -webkit-transform: translate3d(200px, -50%, 0); }
  .street-info #services h1 {
    opacity: 0;
    margin-left: 30%; }
  .street-info .service {
    transform: translate3D(100%, 0, 0); }
    .street-info .service .service-info a {
      opacity: 0;
      visibility: hidden; }
  .street-info .serviceInfo.streetInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    transform: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #373737;
    opacity: 1;
    visibility: visible;
    padding: 0px 100px;
    transition: 0.4s;
    transition-delay: 0.1s; }
    .street-info .serviceInfo.streetInfo .close-info {
      position: absolute;
      top: 50px;
      right: 80px;
      z-index: 999;
      cursor: pointer;
      width: 50px;
      height: 50px; }
      .street-info .serviceInfo.streetInfo .close-info:before {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(45deg); }
      .street-info .serviceInfo.streetInfo .close-info:after {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(-45deg); }
    .street-info .serviceInfo.streetInfo .serviceInfo-right {
      width: 80%;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
      .street-info .serviceInfo.streetInfo .serviceInfo-right p {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin: 20px 0 0; }
  .street-info .service.flyers {
    transform: translate3D(-100%, 0, 0); }
  .street-info .service.webdev {
    transform: translate3D(-200%, 0, 0); }
  .street-info .service.design {
    transform: translate3D(-300%, 0, 0); }
  .street-info .service.street {
    transform: translate3D(-300%, 0, 0); }
  .street-info .service.comunique {
    transform: translate3D(100%, 0, 0); }

.comunique-info {
  overflow: hidden !important; }
  .comunique-info .side-nav {
    opacity: 0;
    transform: translate3d(200px, -50%, 0);
    -moz-transform: translate3d(200px, -50%, 0);
    -webkit-transform: translate3d(200px, -50%, 0); }
  .comunique-info #services h1 {
    opacity: 0;
    margin-left: 30%; }
  .comunique-info .service {
    transform: translate3D(0%, 0, 0); }
    .comunique-info .service .service-info a {
      opacity: 0;
      visibility: hidden; }
  .comunique-info .serviceInfo.comuniqueInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    transform: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    color: #373737;
    opacity: 1;
    visibility: visible;
    padding: 0px 100px;
    transition: 0.4s;
    transition-delay: 0.1s; }
    .comunique-info .serviceInfo.comuniqueInfo .close-info {
      position: absolute;
      top: 50px;
      right: 80px;
      z-index: 999;
      cursor: pointer;
      width: 50px;
      height: 50px; }
      .comunique-info .serviceInfo.comuniqueInfo .close-info:before {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(45deg); }
      .comunique-info .serviceInfo.comuniqueInfo .close-info:after {
        content: '';
        background: #4B83C0;
        width: 30px;
        height: 3px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: rotate(-45deg); }
    .comunique-info .serviceInfo.comuniqueInfo .serviceInfo-right {
      width: 80%;
      opacity: 1;
      transform: translate3d(0, 0px, 0); }
      .comunique-info .serviceInfo.comuniqueInfo .serviceInfo-right p {
        color: #373737;
        font-size: 15px;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin: 20px 0 0; }
  .comunique-info .service.flyers {
    transform: translate3D(-100%, 0, 0); }
  .comunique-info .service.webdev {
    transform: translate3D(-200%, 0, 0); }
  .comunique-info .service.design {
    transform: translate3D(-300%, 0, 0); }
  .comunique-info .service.street {
    transform: translate3D(-400%, 0, 0); }
  .comunique-info .service.comunique {
    transform: translate3D(-400%, 0, 0); }

/************************************************* CONTACT ***********************************************************/
#contact {
  background: url(../img/contact-bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 4;
  height: auto;
  padding: 0 0 50px;
  overflow: hidden;
  top: 0 !important; }
  #contact .contact-box {
    background: url(../img/contact-box-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 1030px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.3);
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0); }
    #contact .contact-box .contact-left {
      background: url(../img/contact-box-bg.jpg) -70px center no-repeat;
      background-size: cover;
      width: 60%;
      height: 100%;
      float: left; }
    #contact .contact-box .contact-right {
      background: #373737;
      position: relative;
      width: 40%;
      float: right;
      height: 100%; }
      #contact .contact-box .contact-right #contact-form {
        position: relative;
        padding: 80px 30px; }
        #contact .contact-box .contact-right #contact-form input, #contact .contact-box .contact-right #contact-form textarea {
          background: none;
          width: 100%;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          padding: 10px;
          margin: 0 0 10px;
          border: 1px solid rgba(255, 255, 255, 0.2);
          transition: 0.4s;
          -moz-transition: 0.4s;
          -webkit-transition: 0.4s; }
          #contact .contact-box .contact-right #contact-form input:focus, #contact .contact-box .contact-right #contact-form textarea:focus {
            border-color: #fff; }
        #contact .contact-box .contact-right #contact-form input {
          padding: 10px 15px; }
        #contact .contact-box .contact-right #contact-form textarea {
          resize: none;
          height: 100px; }
        #contact .contact-box .contact-right #contact-form button {
          background: none;
          width: 100%;
          padding: 10px 20px;
          color: #fff;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          border: 1px solid #fff;
          box-shadow: 0 0px 0 0 #fff inset;
          -moz-box-shadow: 0 0px 0 0 #fff inset;
          -webkit-box-shadow: 0 0px 0 0 #fff inset;
          transition: 0.4s;
          -moz-transition: 0.4s;
          -webkit-transition: 0.4s; }
          #contact .contact-box .contact-right #contact-form button:hover {
            color: #373737;
            box-shadow: 0 -60px 0 0 #fff inset;
            -moz-box-shadow: 0 -60px 0 0 #fff inset;
            -webkit-box-shadow: 0 -60px 0 0 #fff inset; }
      #contact .contact-box .contact-right .contact-info {
        position: absolute;
        left: 30px;
        bottom: 20px; }
        #contact .contact-box .contact-right .contact-info li {
          display: block;
          color: #fff;
          font-size: 15px;
          font-weight: 200;
          line-height: 30px; }
      #contact .contact-box .contact-right .social-icon {
        position: absolute;
        right: 30px;
        bottom: 25px; }
        #contact .contact-box .contact-right .social-icon li {
          margin-left: 20px; }
  #contact h1 {
    width: 100%;
    margin: -110px 0 0;
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 6;
    text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15); }
    #contact h1 b {
      color: #4B83C0;
      font-weight: 900; }
    #contact h1 span {
      display: block;
      font-size: 67px;
      font-weight: 200; }
  #contact:before {
    content: "Don't be shy";
    position: absolute;
    right: -60px;
    top: 25px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 200px;
    font-weight: 900;
    text-transform: uppercase; }

/************************************************* scroll bar *************************************************************/
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: #373737; }

::-webkit-scrollbar-thumb {
  background: #111111; }
