$blue : #4B83C0;
$dark-gray : #373737;
$light-gray : #f2f2f5;
$light-gray-bg : #fbfbfd;
$white : #fff;

/************************************************** RESPONSIVE **********************************************************/

.scrollmob {display: none;}

@media screen and (min-width: 1000px) and (max-width: 1500px) {

  .language   {right: 42px;}
  .side-nav   {right: 35px !important;}
  .scroll     {right: 44px; }

  #intro {
    h1 {
      span {
        font-size: 100px;
      }
    }
  }

  #team {
    &:before {font-size: 250px;}
    h1 {
      font-size: 50px;
      margin-top: 50px;
    }

    .member {
      padding-top: 50px;

      .illustration img {max-height: 17rem;}
    }
  }

  #projects {
    .projects-info {
      padding: 20px 40px;

      h1 {
        font-size: 50px;
        margin:20px 0 0;
      }

      p {
        font-size: 15px;
        font-weight: 200;
      }
    }
  }

  #modals {
    .projectInfo {
      .memberInfo-right {
        p {
          font-size: 15px;
          line-height: 1.5;
        }
      }
    }
    .close-info {right: 31px;}
  }

  #portfolio {
    &:before {font-size: 150px;}

    .back-img {
      width: 600px;
    }

    .work-info {
      h2 {
        font-size: 50px;
      }
    }

    .active .work-info {
      transform: translate3D(-400px,-50%,0);
      -moz-transform: translate3D(-400px,-50%,0);
      -webkit-transform: translate3D(-400px,-50%,0);
    }

    .baleinev .front-img img {
      max-height: 250px;
      width: auto;
    }

    .festigeek .front-img img {
      max-height: 170px;
      width: auto;
    }

    .balelec .front-img img {
      max-height: 150px;
      width: auto;
    }
  }

  #testimonials {
    &:before {font-size: 150px;}

    h1 {
      margin: 50px 0 0;
      font-size: 50px;
    }
    .clients {
      top: 35%;
      max-width: 700px;

      blockquote, cite {
        font-size: 17px;
      }
    }
    .pictures {
      img {
        max-width: 80%;
        height: auto;
      }
    }
  }

  #contact {
    &:before {font-size: 150px; top:0;}

    .contact-box {
      margin-top:30px;
      height: 470px;

      h1 {
        margin: -65px 0 0;
        font-size:50px;

        span {
          font-size: 41px;
        }
      }

      .contact-right #contact-form {
        padding: 30px 30px 0;
      }
    }
  }
}

@media screen and (max-width:900px) {
  .scrollmob {
    display: block;
    position: absolute;
    top: 100vh;
    left: 50%;
    width: 2px;
    height: 30px;
    overflow: hidden;
    z-index: 99;

    transform: translate3d(-50%,-160px,0);
    -moz-transform: translate3d(-50%,-160px,0);
    -webkit-transform: translate3d(-50%,-160px,0);

     .scrolling {
      width: 100%;
      height: 100%;
      background: $white;
      top:0;
      left: 0;
      opacity: 0;
      animation-name: scrolling;
      animation-delay: 3.8s;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }

    @keyframes scrolling {
      0% {
        opacity: 1;
        transform: translate3D(0, -100%,0);
      }
      50% {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
      100% {
        opacity: 1;
        transform: translate3D(0, 100%,0);
      }
    }
  }

  aside {
    height: 100%;
    left: -100px;
    position: absolute;

    .menu-icon {
      width: 70px;
      height: 60px!important;
      border-bottom: 0 solid #fbfbfd;
      left: auto !important;
      right: 5px !important;
      position: fixed !important;

      .line-1, .line-2 {
        background: $white;
        width: 40px;
        height: 3px;
      }
      .line-3 {
        background: $white;
        width: 20px;
        margin-left: 10px;
      }
    }

    .menu {
      width: calc(100% - 80px);
      height: 100%;
      right: 80px;

      ul {
        li {
          width: 100%;
          height: auto;
          margin: 15px auto;
          border:0;

          a {
            span:nth-child(1) {
              font-size: 17px;
            }
            span:nth-child(2) {
              font-size: 13px;
            }
          }
        }
      }
    }

    .logo {
      width: 80px;

      a {
        img {
          width: 60px;
          height: auto;
        }
      }
    }

    .social {right: -63px}

  }

  .side-nav {
    display: none;
  }

  .language {
    top: 15px;
    left: 15px;
  }

  .wrap {width: 100%;}

  .video-overlay {
    background: url(/img/menu-bg.jpg) no-repeat center center;
    background-size: cover;
  }

  #intro {
    background-size: 250px auto;

    h1 {
      span {
        font-size: 40px;

        &.h1-1 {
          font-size: 34px;
          line-height: 1.1;
        }
        &.h1-3 {
          transform: translate3d(-60px,0,0);
          -moz-transform: translate3d(-60px,0,0);
          -webkit-transform: translate3d(-60px,0,0);
        }
        &.h1-4 {

        }
      }
    }
  }

  #team {
    h1 {
      margin: 35px 0 0px;
      font-size: 34px;
      position: relative;
      transform: none !important;
      -moz-transform: none !important;
      -webkit-transform: none !important;
    }

    .member {
      width: 100%;
      height: auto;
      min-height: auto;
      padding: 30px 0;

      .illustration, .member-info {
        transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
      }
    }
  }

  #modals {
    .memberInfo {
      .memberInfo-right {
        width: 100%;
        height:100vh;
        padding: 50px 40px 0;

        p {margin: 20px 0;}
      }
      .member-nav {
        display: none;
        .nav-next {
          right: 20px;
        }
        .nav-prev {
          left: 20px;
        }
        .nav-cv {
          a {
            width: 160px;
            padding: 0 10px;
            font-size: 13px;
            letter-spacing: 0;
          }
        }
      }
    }

    .projectInfo {
      .memberInfo-right {
        padding: 50px 40px 0;

        h2 {
          font-size: 30px;
          margin-bottom: 20px;
        }

        p {
          margin: 20px 0 0;
          text-align: left;
          font-size: 13px;
          &.video {
            max-width: 100%;
            margin: 20px auto 10px;

            iframe {
              max-width: 110%;
              height: auto;
              margin-left: -5%;
            }
          }
          &:last-child {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .flyers-info, .webdev-info, .design-info, .street-info, .comunique-info {
    .menu-icon {
      opacity: 0;
      visibility: hidden;
    }

    .memberInfo.flyersInfo, .memberInfo.webdevInfo, .memberInfo.designInfo, .memberInfo.streetInfo, .memberInfo.comuniqueInfo {
        height: 100vh;
        padding: 0 0px;

        .close-info {
          position: absolute;
          top: 0px;
          right: 8px;
          z-index: 999;
          cursor: pointer;
          width: 60px;
          height: 60px;
          background: $light-gray-bg;
        }

        .memberInfo-right {
          width: 100%;
          padding: 50px 40px 0;
          background: $light-gray-bg;
          height: calc(100vh - 20px);
          overflow-y: scroll;
          display: block;
          box-shadow: 0 20px 0 0 $light-gray-bg;
          -moz-box-shadow: 0 20px 0 0 $light-gray-bg;
          -webkit-box-shadow: 0 20px 0 0 $light-gray-bg;

          p {
            margin: 20px 0;
            text-align: left;
            font-size: 13px;
          }
        }
      }
  }

  .smartHome-info, .bDev-info {
    .menu-icon {
      opacity: 0;
      visibility: hidden;
    }

    .projectInfo.smartInfo, .projectInfo.bDeveInfo {
      padding: 0;

      .close-info {
        top: 10px;
        right: 10px;
      }
    }
  }

  #projects {
    display: block;
    overflow: auto;

    .projects-info {
      width: 100%;
      height: 100%;
      padding: 20px;

      h1 {
        font-size: 34px;
        margin: 0;
      }

      p {
        font-size: 17px;
      }
    }

    .project {
      width: 100%;
      height: 300px;

      h2 {
        font-size: 30px;
        margin: 0;
        transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
      }

      p {
        font-size: 17px;
        margin: 0;
        transform: none !important;
        -moz-transform: none !important;
        -webkit-transform: none !important;
      }
    }
  }

  #portfolio {
    &:before {
      right: -20px;
      top: 30px;
      font-size: 60px;
    }

    .back-img {
      width: calc(100% - 40px);
      opacity: 1;
    }

    .front-img {
      max-height: 200px;
      width: auto;
      top: 48%;
      opacity: 1;
    }

    .work-info {
      transform: translate3D(0%,-25%,0);
      -moz-transform: translate3D(0%,-25%,0);
      -webkit-transform: translate3D(0%,-25%,0);
      margin-left: -40px;
      opacity: 1;
      left: 80px;

      h2 {
        font-size: 30px;
        text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
        margin: 20px 0px -10px 0px;
      }
    }

  }

  #testimonials {
    h1 {
      margin: 30px 0 20px;
      font-size: 34px;
      position: relative;
    }

    .clients {
      position: relative;
      top: auto;
      max-width: 100%;
      padding: 0 20px;
      margin: 70px auto 0;
      transform: translate3d(-50%,0%,0);
      -moz-transform: translate3d(-50%,0%,0);
      -webkit-transform: translate3d(-50%,0%,0);

      blockquote, cite {
        font-size: 15px;
        margin: 0 auto 20px;
        padding: 0 20px;
      }
    }

    .pictures {
      img {max-width:90%; height:auto;}
    }
  }

  #contact {
    min-height: 1000px;
    height: auto;
    top: 0 !important;
    overflow-y: auto;
    overflow-x: hidden;

    &:before {
      right: -10px;
      top: 85px;
      font-size: 45px;
    }


    h1 {
      font-size: 36px;

      span {
        font-size: 30px;
      }
    }

    .contact-box {
      width: calc(100% - 40px);
      height: auto;

      .contact-left {
        width: 100%;
        height: 200px;
        background-position: center;
      }

      .contact-right {
        width:100%;

        #contact-form {
          padding: 20px 20px 130px;
          transform: none !important;
          -moz-transform: none !important;
          -webkit-transform: none !important;
        }

        .contact-info, .social-icon {
          transform: none !important;
          -moz-transform: none !important;
          -webkit-transform: none !important;
          li {
            font-size: 13px;
          }
        }

      }
    }
  }

  .menu-open {
    aside {
      left: 0;
      position: fixed;

      .menu-icon {
        left: auto !important;
        right: 5px !important;
        top: 10px !important;

        .line-1, .line-2 {
          background: $dark-gray;
        }
        .line-3 {
          width: 0px;
        }
      }
    }


  }
}

@media screen and (max-width:900px) and (orientation: landscape)  {
  .scrollmob {
    transform: translate3d(-50%,-70px,0);
    -moz-transform: translate3d(-50%,-70px,0);
    -webkit-transform: translate3d(-50%,-70px,0);
  }

  aside {
    .menu {
      ul {
        li {
          width: 33.33%;
          height: 50vh;
          margin: 0 auto;
          opacity: 0;
          position: relative;
          transition: .8s;
          float: left;
          clear: none;
          border-right: 1px solid rgba(0,0,0,.15);
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px solid rgba(0,0,0,.15);
        }
      }
    }

    .social {
      display: none;
    }
  }

  .loaded {
    aside {
      .logo {
        opacity: 1;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        top: auto;
        bottom: 10px;
      }
    }
  }

  #portfolio {
     .back-img {
      width: calc(100% - 250px);
    }
    .front-img {
      width: 130px;
      top: 48%;
      opacity: 1;
    }

    .owl-prev {
      bottom: 30px;
      left: auto;
      right: 100px;
    }

    .owl-next {
      bottom: 30px;
      left: auto;
      right: 50px;
    }
  }

  #modals {
    .projectInfo {
      .memberInfo-right {
        p.video {
          iframe {min-height: 280px;}
        }
      }
    }
  }

  #testimonials {
    min-height: 500px;
  }
}

@media screen and (min-width:500px) and (max-width:900px) and (orientation: portrait) {
  #intro {
    h1 {
       span {
        font-size: 100px;
        &.h1-1 {
          font-size: 64px;
        }
      }
    }
  }

  #team {
    h1 {font-size: 64px;}
  }

  #projects {
    min-height: auto;
    .projects-info {
      padding: 50px;
      h1 {
        font-size: 64px;
      }
    }
  }

  #modals {
    .memberInfo {
      .memberInfo-right {
        padding: 0 40px;
        position: absolute;
        bottom: 50px;
        top: auto;
        height: auto;
      }
    }

    .projectInfo {
      .memberInfo-right {
        p.video {
          iframe {min-height: 380px;}
        }
      }
    }
  }

  #portfolio {
    &:before {
      right: -20px;
      top: 120px;
      font-size: 110px;
    }

    .back-img {
      width: calc(100% - 200px);
    }

    .front-img {
      img {
        max-height: 240px;
        width: auto;
      }
    }

    .work-info {
      h2 {
        font-size: 50px;
        text-shadow: 4px 4px 8px rgba(0,0,0,.6);
        margin: -20px 0 -10px;
      }
    }
  }

  #testimonials {
    h1 {font-size: 64px; margin: 135px 0 0;}
    .clients {
      position: absolute;
      top: 45%;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto 0;
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
      left: 0;
      blockquote, cite {
        font-size: 17px;
      }
    }

    .pictures {
      img {
        top: -200px;
        position: relative;
      }
    }
  }

  #contact {
    &:before {
      right: -10px;
      top: 85px;
      font-size: 100px;
    }

    h1 {
      font-size: 64px;
      span {
        font-size: 52px;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {

  #projects {
    display: block;
    .projects-info {
      width: 50%;
    }
    .project {
      width: 50%;
      height: 50vh;
    }
  }

  #testimonials {
    .clients {
      max-width: calc(100% - 100px);
      width: 100%;
    }
  }

  #contact {
    .contact-box {width: calc(100% - 140px);}
  }
}
