$big : 1200px;
$medium : 900px;
$small : 550px;

@mixin responsive($attribute, $mini_val, $small_val, $medium_val, $big_val){
    #{$attribute}: $mini_val;
    @media (min-width: $small){
      #{$attribute}: $small_val;
    }
    @media (min-width: $medium){
      #{$attribute}: $medium_val;
    }
    @media (min-width: $big){
      #{$attribute}: $big_val;
    }
}

@mixin centered($width, $top, $left){
    width: $width;
    height: $width;
    position: absolute;
    left: $left;
    top: $top;
    margin-left: -$width/2;
    margin-top: -$width/2;
}


/********************************************************** BASIC ********************************************************/

$blue : #4B83C0;
$dark-gray : #373737;
$light-gray : #f2f2f5;
$light-gray-bg : #fbfbfd;
$white : #fff;

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.move-h1 {
  opacity: 0;
  animation-name: moveh1-2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;


  font-size: 60px;
  font-weight: 200;
  line-height: 1.5;
}

* {box-sizing: border-box; text-decoration: none; font-family: 'Montserrat', serif; outline: none;}
body {padding: 0px; margin: 0; overflow-x: hidden; overflow-x: hidden;}
section {clear: both;}
b, strong {font-weight: 800;}
ul {list-style: none; padding: 0; margin: 0;}
li {display: inline-block;}

.clearfix {clear: both;}
.mobile {display: none;}

body.loaded {overflow: auto;}
body.menu-open {overflow: hidden;}

#modals {z-index: 9;}

/********************************************************** WRAP ********************************************************/

.wrap {
  background: $light-gray-bg;
  width: 100%;
  min-height: 200vh;
  float: right;
  position: relative;
}

/********************************************************** ASIDE ********************************************************/

.side-nav {
    position: fixed;
    right: 10px !important;
    top: 50% !important;
    left: auto !important;
    width: 30px !important;
    z-index: 9999;
    transform: translate3d(0,-50%,0);
    transition: 0.4s;

    li {
        width: 14px;
        height: 14px;
        display: block;
        margin: 20px 0;
        position: relative;
        border: 2px solid $white;
        border-radius: 50%;
        transition: .3s;

        a {
            display: block;
            width: 14px;
            height: 14px;
            background: $white;
            opacity: 0;
            position: absolute;
            left: -2px;
            top: -2px;
            border-radius: 50%;
            &.active {opacity: 1;}
        }
    }
}

.midnightHeader.blue {
    .line-1, .line-2, .line-3 {background: $blue !important;}
    li {
        border-color: $blue;
        a {
        background: $blue;
        }
    }
}

.midnightHeader.white {
    li {
        border-color: $white;
        a {
        background: $white;
        }
    }
}

/********************************************************** Intro ********************************************************/
#intro {
  .centrocentered{
    @include centered(300px, 50%, 50%);
  }

  @extend .flex-column;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 4;
  text-align: center;
  padding-bottom: 20px;
  background: url(../img/video-o.png) no-repeat right top;
  background-size: 450px auto;
  overflow: hidden;

  h1 {
    color: $white;
    margin: 0;

    span {
      display: block;
      font-size: 140px;
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
      line-height: 0.9;
      text-shadow: 20px 20px 30px rgba(0,0,0,0.25);
    }

    .h1-1 {
      transform: translate3d(0px,-40px,0);
      -moz-transform: translate3d(0px,-40px,0);
      -webkit-transform: translate3d(0px,-40px,0);
      z-index: 4;

      @extend .move-h1;
      animation-delay: .4s;
    }

    .h1-2 {
      transform: translate3d(310px,20px,0);
      -moz-transform: translate3d(310px,20px,0);
      -webkit-transform: translate3d(310px,20px,0);
      z-index: 5;

      @extend .move-h1;
      animation-delay: 1.0s;
    }

    .h1-3 {
      transform: translate3d(-300px,-30px,0);
      -moz-transform: translate3d(-300px,-30px,0);
      -webkit-transform: translate3d(-300px,-30px,0);
      z-index: 6;

      @extend .move-h1;
      animation-delay: 1.6s;
    }

    .h1-4 {
      transform: translate3d(330px,-90px,0);
      -moz-transform: translate3d(330px,-90px,0);
      -webkit-transform: translate3d(330px,-90px,0);
      z-index: 7;
      @extend .move-h1;
      animation-delay: 2.2s;
    }
  }
}

@keyframes moveh1-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  position: absolute;
  right: 93px;
  bottom: 50px;
  display: none;

  img {
    display: block;
  }

  &:before {
    content: '';
    background: $white;
    width: 1px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -1px;
  }
}

.language {
  position: absolute;
  top: 50px;
  right: 92px;
  z-index: 5;

  ul li {
    width: 30px;
    text-align: center;

    a {
      color: $white;
      font-weight: 700;
      font-size: 20px;
      display: block;
      line-height: 30px;
      text-shadow: 6px 6px 12px rgba(0,0,0,.4);
    }

    ul {
      padding-top: 10px;
      opacity: 0;
      transition: 0.4s;
      -moz-transition: 0.4s;
      -webkit-transition: 0.4s;
      transform: translate3d(0, -20px,0);
      -moz-transform: translate3d(0, -20px,0);
      -webkit-transform: translate3d(0, -20px,0);

      li {
        width: 30px;
        display: block;
        padding: 10px 0 ;
        text-align: center;

        a {
          color: $white;
          font-size: 17px;
        }
      }
    }
  }

  ul li:hover {
    ul {
      opacity: 1;
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
    }
  }
}

/************************************************** services ********************************************************************/

#services {
  background: $light-gray-bg;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 4;
  height: auto;
  padding: 0 0 50px;
  overflow: hidden;
  top: 0 !important;

  h1 {
    width: 100%;
    margin: 135px 0 0;
    color: $dark-gray;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 6;
    text-shadow: 20px 20px 30px rgba(0,0,0,0.15);

    b {
      color: $blue;
      font-weight: 900;
    }
  }

  &:before {
    content: 'services';
    position: absolute;
    right: -90px;
    top: 0;
    color: $light-gray;
    font-size: 300px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.service {
  @extend .flex-column;
  width: 20%;
  min-height: 100vh;
  position: relative;
  float: left;
  z-index: 5;
  border-right: 0px solid $light-gray;
  transition: 0.4s;

  .illustration {
    text-align: center;
    position: relative;
    /**
    animation: slowmove2 5s infinite;
    **/

    img {
      display: block;
      margin: 0 auto;
      border-bottom: 1px solid $light-gray;
      position: relative;
      max-height: 22rem;
    }
  }

  &:nth-child(3), &:nth-child(5) {
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
}

.service-info {
  display: block;
  text-align: center;

  h2 {
    color: $dark-gray;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px auto 5px;
    position: relative;

    b {
      font-weight: 900;
      color: $blue;
    }
  }

  p {
    color: $dark-gray;
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
  }

  a {
    display: inline-block;
    margin: 20px auto 0;
    padding: 15px 30px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $dark-gray;
    font-weight: 700;
    border: 1px solid $dark-gray;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    box-shadow: 0 0 0 0 $dark-gray inset;
    -moz-box-shadow: 0 0 0 0 $dark-gray inset;
    -webkit-box-shadow: 0 0 0 0 $dark-gray inset;
    position: relative;

    b {
      color: $blue;
      transition: 0.4s;
      -moz-transition: 0.4s;
      -webkit-transition: 0.4s;
    }
  }

  a:hover {
    color: $white;
    box-shadow: 0 -60px 0 0 $dark-gray inset;
    -moz-box-shadow: 0 -60px 0 0 $dark-gray inset;
    -webkit-box-shadow: 0 -60px 0 0 $dark-gray inset;

    b {color: $white;}
  }

}

.serviceInfo {
  background: transparent;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  z-index: 9;
  padding: 0px 100px;
  transform: translate3d(100%,0,0);


  .serviceInfo-right {
    width: 80%;
    float: right;
    height: 100vh;
    padding: 100px;
    opacity: 0;
    transform: translate3d(0, 50px,0);
    transition: .6s;
    transition-delay: .4s;
    transition: opacity .6s .5s;
  }

  .service-nav {
    background: $white;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid $light-gray;

    .nav-prev {
      position: absolute;
      left: 50px;
      top: 20px;
      width: 70px;
      height: 40px;
      cursor: pointer;

      img {
        max-height: 40px;
        width: auto;
        left: 30px;
        position: absolute;
      }

      .service-prev {
        position: absolute;
        left: 0;
        top: 20px;
        height: 40px;

        &:before, &:after {
          content: '';
          position: absolute;
          top: 4px;
          width: 14px;
          height: 3px;
          background: $blue;
          transform: rotate(45deg);
        }

        &:after {
          top: -5px;
          transform: rotate(-45deg);
        }
      }
    }

    .nav-contact {
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);

      a {
        width: 200px;
        height: 40px;
        display: block;
        color: $blue;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 0 20px;
        line-height: 38px;
        letter-spacing: .1em;
        border: 1px solid $blue;
        box-shadow: 0 0 0 0 $blue inset;
        -moz-box-shadow: 0 0 0 0 $blue inset;
        -webit-box-shadow: 0 0 0 0 $blue inset;
        transition: .4s;
        -moz-transition: .4s;
        -webkit-transition: .4s;

        &:hover {
          color: $white;
          box-shadow: 0 -40px 0 0 $blue inset;
          -moz-box-shadow: 0 -40px 0 0 $blue inset;
          -webkit-box-shadow: 0 -40px 0 0 $blue inset;
        }
      }
    }

    .nav-next {
      position: absolute;
      right: 50px;
      top: 20px;
      width: 70px;
      height: 40px;
      cursor: pointer;

      img {
        max-height: 40px;
        width: auto;
        right: 30px;
        position: absolute;
      }
      .service-next {
        position: absolute;
        top: 20px;
        right: 15px;
        height: 40px;


        &:before, &:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 3px;
          background: $blue;
          top: 5px;
          transform: rotate(-45deg);
        }

        &:after {
          top: -4px;
          transform: rotate(45deg);
        }
      }
    }
  }
}


@mixin default-info($margin-left: -30%, $transformVal: 200%){

  overflow: hidden !important;

  .side-nav {
    opacity: 0;
    transform: translate3d(200px,-50%,0);
    -moz-transform: translate3d(200px,-50%,0);
    -webkit-transform: translate3d(200px,-50%,0);
  }

  #services h1 {
    opacity: 0;
    margin-left: $margin-left;
  }

  .service {
    transform: translate3D($transformVal,0,0);
    .service-info a {
      opacity: 0;
      visibility: hidden;
    }
  }
}
@mixin defaultInfo(){
  background: transparent;
  width: 100%;
  height: 100vh;
  transform: none;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  color: $dark-gray;
  opacity: 1;
  visibility: visible;
  padding: 0px 100px;
  transition: 0.4s;
  transition-delay: 0.1s;

  .close-info {
    position: absolute;
    top: 50px;
    right: 80px;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    height: 50px;

    &:before {
      content: '';
      background: $blue;
      width: 30px;
      height: 3px;
      position: absolute;
      left: 20%;
      top: 50%;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      background: $blue;
      width: 30px;
      height: 3px;
      position: absolute;
      left: 20%;
      top: 50%;
      transform: rotate(-45deg);
    }
  }

  .serviceInfo-right {
    width: 80%;
    opacity: 1;
    @extend .flex-column;
    transform: translate3d(0, 0px,0);

    p {
      color: $dark-gray;
      font-size: 15px;
      font-weight: 300;
      text-align: justify;
      line-height: 1.7;
      margin: 20px 0 0;
      //max-width: 800px;
    }
  }
}




.flyers-info {
  @include default-info(-30%, 0%);
  .serviceInfo.flyersInfo{
    @include defaultInfo();
  }
  .service{
    &.flyers{
      transform: translate3D(0%,0,0);
    }
    &.webdev{
      transform: translate3D(400%,0,0);
    }
    &.design{
      transform: translate3D(300%,0,0);
    }
    &.street{
      transform: translate3D(200%,0,0);
    }
    &.comunique{
      transform: translate3D(100%,0,0);
    }
  }
}

.webdev-info {
  @include default-info(-30%, 300%);
  .serviceInfo.webdevInfo{
    @include defaultInfo();
  }
  .service{
    &.flyers{
      transform: translate3D(-100%,0,0);
    }
    &.webdev{
      transform: translate3D(-100%,0,0);
    }
    &.design{
      transform: translate3D(300%,0,0);
    }
    &.street{
      transform: translate3D(200%,0,0);
    }
    &.comunique{
      transform: translate3D(100%,0,0);
    }
  }
}

.design-info {
  @include default-info(30%, 200%);
  .serviceInfo.designInfo{
    @include defaultInfo();
  }
  .service{
    &.flyers{
      transform: translate3D(-100%,0,0);
    }
    &.webdev{
      transform: translate3D(-200%,0,0);
    }
    &.design{
      transform: translate3D(-200%,0,0);
    }
    &.street{
      transform: translate3D(200%,0,0);
    }
    &.comunique{
      transform: translate3D(100%,0,0);
    }
  }
}

.street-info {
  @include default-info(30%, 100%);
  .serviceInfo.streetInfo{
    @include defaultInfo();
  }
  .service{
    &.flyers{
      transform: translate3D(-100%,0,0);
    }
    &.webdev{
      transform: translate3D(-200%,0,0);
    }
    &.design{
      transform: translate3D(-300%,0,0);
    }
    &.street{
      transform: translate3D(-300%,0,0);
    }
    &.comunique{
      transform: translate3D(100%,0,0);
    }
  }
}

.comunique-info {
  @include default-info(30%, 0%);
  .serviceInfo.comuniqueInfo{
    @include defaultInfo();
  }
  .service{
    &.flyers{
      transform: translate3D(-100%,0,0);
    }
    &.webdev{
      transform: translate3D(-200%,0,0);
    }
    &.design{
      transform: translate3D(-300%,0,0);
    }
    &.street{
      transform: translate3D(-400%,0,0);
    }
    &.comunique{
      transform: translate3D(-400%,0,0);
    }
  }
}

/************************************************* CONTACT ***********************************************************/

#contact {
  background: url(../img/contact-bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 4;
  height: auto;
  padding: 0 0 50px;
  overflow: hidden;
  top: 0 !important;

  .contact-box {
    background: url(../img/contact-box-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 1030px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.3);
    transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);

    .contact-left {
      background: url(../img/contact-box-bg.jpg) -70px center no-repeat;
      background-size: cover;
      width: 60%;
      height: 100%;
      float: left;
    }

    .contact-right {
      background: $dark-gray;
      position: relative;
      width: 40%;
      float: right;
      height: 100%;

      #contact-form {
        position: relative;
        padding: 80px 30px;

        input, textarea {
          background: none;
          width: 100%;
          color: $white;
          font-size: 15px;
          font-weight: 300;
          padding: 10px;
          margin: 0 0 10px;
          border: 1px solid rgba(255,255,255,0.2);
          transition: 0.4s;
          -moz-transition: 0.4s;
          -webkit-transition: 0.4s;

          &:focus {
            border-color: $white;
          }
        }


        input {
          padding: 10px 15px;
        }
        textarea {
          resize: none;
          height: 100px;
        }

        button {
          background: none;
          width: 100%;
          padding: 10px 20px;
          color: $white;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          border: 1px solid $white;
          box-shadow: 0 0px 0 0 $white inset;
          -moz-box-shadow: 0 0px 0 0 $white inset;
          -webkit-box-shadow: 0 0px 0 0 $white inset;
          transition: 0.4s;
          -moz-transition: 0.4s;
          -webkit-transition: 0.4s;

          &:hover {
            color: $dark-gray;
            box-shadow: 0 -60px 0 0 $white inset;
            -moz-box-shadow: 0 -60px 0 0 $white inset;
            -webkit-box-shadow: 0 -60px 0 0 $white inset;
          }
        }
      }

      .contact-info {
        position: absolute;
        left: 30px;
        bottom: 20px;

        li {
          display: block;
          color: $white;
          font-size: 15px;
          font-weight: 200;
          line-height: 30px;
        }
      }

      .social-icon {
        position: absolute;
        right: 30px;
        bottom: 25px;

        li {
          margin-left: 20px;
        }
      }
    }
  }

  h1 {
    width: 100%;
    margin: -110px 0 0;
    color: $white;
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 6;
    text-shadow: 20px 20px 30px rgba(0,0,0,0.15);

    b {
      color: $blue;
      font-weight: 900;
    }

    span {
      display: block;
      font-size: 67px;
      font-weight: 200;
    }
  }

  &:before {
    content: "Don't be shy";
    position: absolute;
    right: -60px;
    top: 25px;
    color: rgba(0,0,0,0.4);
    font-size: 200px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

/************************************************* scroll bar *************************************************************/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $dark-gray;
}

::-webkit-scrollbar-thumb {
  background: darken($dark-gray, 15%);
}

