/********************************************************** BASIC ********************************************************/

$blue : #4B83C0;
$dark-gray : #373737;
$light-gray : #f2f2f5;
$light-gray-bg : #fbfbfd;
$white : #fff;

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.move-h1 {
    opacity: 0;
    animation-name: moveh1-2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

* {box-sizing: border-box; text-decoration: none; font-family: 'Montserrat', serif; outline: none;}
body {padding: 0px; margin: 0; overflow-x: hidden; overflow-x: hidden;}
section {clear: both;}
b, strong {font-weight: 800;}
ul {list-style: none; padding: 0; margin: 0;}
li {display: inline-block;}

.clearfix {clear: both;}
.mobile {display: none;}

body.loaded {overflow: auto;}
body.menu-open {overflow: hidden;}

#modals {z-index: 9;}

/********************************************************** ASIDE ********************************************************/

aside {
    background: $white;
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    box-shadow: -10px 0 30px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: -10px 0 30px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: -10px 0 30px 0 rgba(0,0,0,0.10);

    transition: 0.4s cubic-bezier(.55,.06,.68,.19);
    -moz-transition: 0.4s cubic-bezier(.55,.06,.68,.19);
    -webkit-transition: 0.4s cubic-bezier(.55,.06,.68,.19);

    .logo {
        width: 100px;
        height: auto;
        position: absolute;
        top: 50%;
        right: 0;
        text-align: center;
        transform: translate3d(-200px,-50%,0);
        -moz-transform: translate3d(-200px,-50%,0);
        -webkit-transform: translate3d(-200px,-50%,0);
        transition: 0.4s;
        transition-delay: 0.8s;
        opacity: 0;

        a {
            display: block;
            img {
                width: 70px;
                margin: 0 auto;
            }
        }
    }

    .menu-icon {
        width: 100px;
        height: 100px !important;
        position: absolute !important;
        cursor: pointer;
        right: 0;
        left: auto;
        border-bottom: 1px solid $light-gray-bg;

        .line-1, .line-2, .line-3 {
            background: $blue;
            width: 50px;
            height: 3px;
            position: absolute;
            left: 50%;
            top: 50%;

            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;

            transition: 0.2s;
            -moz-transition: 0.2s;
            -webkit-transition: 0.2s;

            transition-delay: 0.3;
            -moz-transition-delay: 0.3s;
            -webkit-transition-delay: 0.3s;
        }

        .line-1 {
            transform: translate3D(-50%, -10px,0);
            -moz-transform: translate3D(-50%, -10px,0);
            -webkit-transform: translate3D(-50%, -10px,0);
        }

        .line-2 {
            transform: translate3D(-50%, 0px,0);
            -moz-transform: translate3D(-50%, 0px,0);
            -webkit-transform: translate3D(-50%, 0px,0);
        }

        .line-3 {
            width: 30px;
            margin-left: 10px;
            transform: translate3D(-50%, 10px,0);
            -moz-transform: translate3D(-50%, 10px,0);
            -webkit-transform: translate3D(-50%, 10px,0);

            transition-delay: 0.6s;
            -moz-transition-delay: 0.6s;
            -webkit-transition-delay: 0.6s;
        }
    }

    .menu {
        @extend .flex-column;
        width: calc(100% - 100px);
        height: 100vh;
        background: url(../img/menu-bg.jpg) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 100px;
        overflow: hidden;


        ul {
            text-align: center;
            display: block;


            li {
                width: 33.33%;
                height: 50vh;
                margin: 0 auto;
                opacity: 0;
                position: relative;
                transition: .8s;
                clear: both;
                float: left;
                clear: none;
                border-right: 1px solid rgba(0,0,0,0.15);
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid rgba(0,0,0,0.15);

                    a {
                    color: $white;
                    font-size: 27px;
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 0.05em;

                    span:nth-child(1) {
                        font-size: 27px;
                        text-transform: uppercase;
                        color: $white;
                        font-weight: 700;
                        letter-spacing: 0.05em;
                        position: relative;
                        text-shadow: 10px 10px 20px rgba(0,0,0,0.2);

                        &:before {
                            content: '';
                            background: $dark-gray;
                            width: 0;
                            position: absolute;
                            left: 50%;
                            bottom: -3px;
                            height: 18px;
                            z-index: -1;
                            transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -webkit-transform: translateX(-50%);
                            transition: 0.4s;
                            -moz-transition: 0.4s;
                            -webkit-transition: 0.4s;
                        }
                    }
                    &:hover span:before {
                            width: 110%;
                        }

                    span:nth-child(2) {
                        display: block;
                        font-size: 17px;
                        font-weight: 200;
                        text-transform: none;
                        letter-spacing: 0;
                        color: $light-gray;
                        opacity: 0.6;
                        transition: 0.4s;
                        -moz-transition: 0.4s;
                        -webkit-transition: 0.4s;
                    }

                    &:hover span:nth-child(2) {
                        letter-spacing: 0.1em;
                        opacity: 1;
                    }

                }
            }
        }
    }

    .social {
        width: 210px;
        position: absolute;
        right: -53px;
        bottom: 120px;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);

        a {
            float: left;
            display: inline-block;
            margin-right: 30px;
            color: $dark-gray;
            font-size: 17px;
            font-weight: 700;
        }
    }
}

.menu-open {
    aside {
        width: 100%;

        .menu-icon {
            position: fixed;
            top: auto !important;
            left: auto !important;
            right: 0 !important;
        }
        .line-1 {
            width: 30px;
            transform: translate3D(-50%,-50%,0) rotate(45deg);
            -moz-transform: translate3D(-50%,-50%,0) rotate(45deg);
            -webkit-transform: translate3D(-50%,-50%,0) rotate(45deg);
            transition-delay: 0.5s;
            -moz-transition-delay: 0.5s;
            -webkit-transition-delay: 0.5s;
        }

        .line-2 {
            width: 30px;
            transform: translate3D(-50%,-50%,0) rotate(-45deg);
            -moz-transform: translate3D(-50%,-50%,0) rotate(-45deg);
            -webkit-transform: translate3D(-50%,-50%,0) rotate(-45deg);
            transition-delay: 0.5s;
            -moz-transition-delay: 0.5s;
            -webkit-transition-delay: 0.5s;
        }

        .line-3 {
            width: 0;
            transition-delay: 0s;
            -moz-transition-delay: 0s;
            -webkit-transition-delay: 0s;
        }

        .menu ul {
            li {
                animation-name: menuUp;
                animation-delay: 0.6s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-duration: 0.4s;
            }

            li:nth-child(2) {animation-delay: 0.7s;}
            li:nth-child(3) {animation-delay: 0.8s;}
            li:nth-child(4) {animation-delay: 0.9s;}
            li:nth-child(5) {animation-delay: 1.0s;}
            li:nth-child(6) {animation-delay: 1.1s;}
            li:nth-child(7) {animation-delay: 1.2s;}
        }
    }

    .side-nav {
        opacity: 0;
        transform: translate3d(200px,-50%,0);
        -moz-transform: translate3d(200px,-50%,0);
        -webkit-transform: translate3d(200px,-50%,0);
    }
}

@keyframes menuUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loaded aside .logo {
    opacity: 1;
    transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -webkit-transform: translate3d(0,-50%,0);
}

.side-nav {
    position: fixed;
    right: 84px !important;
    top: 50% !important;
    left: auto !important;
    width: 30px !important;
    z-index: 9999;
    transform: translate3d(0,-50%,0);
    transition: 0.4s;

    li {
        width: 14px;
        height: 14px;
        display: block;
        margin: 20px 0;
        position: relative;
        border: 2px solid $white;
        border-radius: 50%;
        transition: .3s;

        a {
            display: block;
            width: 14px;
            height: 14px;
            background: $white;
            opacity: 0;
            position: absolute;
            left: -2px;
            top: -2px;
            border-radius: 50%;
            &.active {opacity: 1;}
        }
    }
}

.midnightHeader.blue {
    .line-1, .line-2, .line-3 {background: $blue !important;}
    li {
        border-color: $blue;
        a {
        background: $blue;
        }
    }
}

.midnightHeader.white {
    li {
        border-color: $white;
        a {
        background: $white;
        }
    }
}
/**
.nav-team .side-nav li, .nav-testimonials .side-nav li {border-color: $blue;}
.nav-team .side-nav a, .nav-testimonials .side-nav a {background: $blue;}
**/
/********************************************************** WRAP ********************************************************/

.wrap {
    background: $light-gray-bg;
    width: calc(100% - 100px);
    min-height: 200vh;
    float: right;
    position: relative;
}

.video-overlay {
    background: linear-gradient(115deg, rgba(75,131,192,0.8) 0%,rgba(29,89,153,0.96) 100%); /* FF3.6-15 */
    background: linear-gradient(115deg, rgba(75,131,192,0.8) 0%,rgba(29,89,153,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(115deg, rgba(75,131,192,0.8) 0%,rgba(29,89,153,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100px;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 200%;
        top: -50%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

#intro {
    @extend .flex-column;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 4;
    text-align: center;
    padding-bottom: 20px;
    background: url(../img/video-o.png) no-repeat right top;
    background-size: 450px auto;
    overflow: hidden;

    h1 {
        color: $white;
        margin: 0;

        span {
            display: block;
            font-size: 140px;
            font-weight: 900;
            text-transform: uppercase;
            position: relative;
            line-height: 0.9;
            text-shadow: 20px 20px 30px rgba(0,0,0,0.25);
        }

        .h1-1 {
            font-size: 60px;
            text-transform: uppercase;
            font-weight: 200;
            line-height: 1.5;
            z-index: 4;

            @extend .move-h1;
            animation-delay: 2.6s;
        }

        .h1-2 {
            transform: translate3d(-40px,0,0);
            -moz-transform: translate3d(-40px,0,0);
            -webkit-transform: translate3d(-40px,0,0);
            z-index: 5;

            @extend .move-h1;
            animation-delay: 2.9s;
        }

        .h1-3 {
            transform: translate3d(-161px,0px,0);
            -moz-transform: translate3d(-161px,0px,0);
            -webkit-transform: translate3d(-185px,0px,0);
            z-index: 6;

            @extend .move-h1;
            animation-delay: 3.2s;
        }

        .h1-4 {
            z-index: 7;
            @extend .move-h1;
            animation-delay: 3.5s;
        }
    }
}

@keyframes moveh1-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
    position: absolute;
    right: 93px;
    bottom: 50px;
    display: none;

    img {
        display: block;
    }

    &:before {
        content: '';
        background: $white;
        width: 1px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -1px;
    }
}

.language {
    position: absolute;
    top: 50px;
    right: 92px;
    z-index: 5;

    ul li {
        width: 30px;
        text-align: center;

        a {
            color: $white;
            font-weight: 700;
            font-size: 20px;
            display: block;
            line-height: 30px;
            text-shadow: 6px 6px 12px rgba(0,0,0,.4);
        }

         ul {
            padding-top: 10px;
            opacity: 0;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transform: translate3d(0, -20px,0);
            -moz-transform: translate3d(0, -20px,0);
            -webkit-transform: translate3d(0, -20px,0);

             li {
                width: 30px;
                display: block;
                padding: 10px 0 ;
                text-align: center;

                a {
                    color: $white;
                    font-size: 17px;
                }
            }
        }
    }

    ul li:hover {
        ul {
            opacity: 1;
            transform: none;
            -moz-transform: none;
            -webkit-transform: none;
        }
    }
}

/************************************************** TEAM ********************************************************************/

#team {
    background: $light-gray-bg;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 4;
    height: auto;
    padding: 0 0 50px;
    overflow: hidden;
    top: 0 !important;

    h1 {
        width: 100%;
        margin: 135px 0 0;
        color: $dark-gray;
        font-size: 80px;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        z-index: 6;
        text-shadow: 20px 20px 30px rgba(0,0,0,0.15);

        b {
            color: $blue;
            font-weight: 900;
        }
    }

    &:before {
        content: 'Team';
        position: absolute;
        right: -90px;
        top: 0;
        color: $light-gray;
        font-size: 300px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.member {
    @extend .flex-column;
    width: 33.33%;
    min-height: 100vh;
    position: relative;
    float: left;
    z-index: 5;
    border-right: 0px solid $light-gray;
    transition: 0.4s;

    .illustration {
        text-align: center;
        position: relative;
        /**
        animation: slowmove2 5s infinite;
        **/

        img {
            display: block;
            margin: 0 auto;
            border-bottom: 1px solid $light-gray;
            position: relative;
            max-height: 22rem;
        }
    }

    &:nth-child(3) {
        border-left: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
    }
}

.member-info {
    display: block;
    text-align: center;

    h2 {
        color: $dark-gray;
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;
        display: inline-block;
        margin: 30px auto 5px;
        position: relative;

        b {
            font-weight: 900;
            color: $blue;
        }
    }

    p {
        color: $dark-gray;
        font-size: 15px;
        font-weight: 300;
        margin: 0 auto;
        position: relative;
    }

    a {
        display: inline-block;
        margin: 20px auto 0;
        padding: 15px 30px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $dark-gray;
        font-weight: 700;
        border: 1px solid $dark-gray;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        box-shadow: 0 0 0 0 $dark-gray inset;
        -moz-box-shadow: 0 0 0 0 $dark-gray inset;
        -webkit-box-shadow: 0 0 0 0 $dark-gray inset;
        position: relative;

         b {
            color: $blue;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
        }
    }

    a:hover {
        color: $white;
        box-shadow: 0 -60px 0 0 $dark-gray inset;
        -moz-box-shadow: 0 -60px 0 0 $dark-gray inset;
        -webkit-box-shadow: 0 -60px 0 0 $dark-gray inset;

        b {color: $white;}
    }

}

.memberInfo {
    background: transparent;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    z-index: 9;
    padding: 0px 100px;
    transform: translate3d(100%,0,0);


    .memberInfo-right {
        width: 66.66%;
        float: right;
        height: 100vh;
        padding: 100px;
        opacity: 0;
        transform: translate3d(0, 50px,0);
        transition: .6s;
        transition-delay: .4s;
    }

    .member-nav {
        background: $white;
        width: 100%;
        height: 80px;
        position: fixed;
        left: 0;
        bottom: 0;
        border-top: 1px solid $light-gray;

        .nav-prev {
            position: absolute;
            left: 150px;
            top: 20px;
            width: 70px;
            height: 40px;
            cursor: pointer;

            img {
                max-height: 40px;
                width: auto;
                left: 30px;
                position: absolute;
            }

            .member-prev {
                position: absolute;
                left: 0;
                top: 20px;
                height: 40px;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 4px;
                    width: 14px;
                    height: 3px;
                    background: $blue;
                    transform: rotate(45deg);
                }

                &:after {
                    top: -5px;
                    transform: rotate(-45deg);
                }
            }
        }

        .nav-cv {
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);

            a {
                width: 200px;
                height: 40px;
                display: block;
                color: $blue;
                font-size: 13px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                padding: 0 20px;
                line-height: 38px;
                letter-spacing: .1em;
                border: 1px solid $blue;
                box-shadow: 0 0 0 0 $blue inset;
                -moz-box-shadow: 0 0 0 0 $blue inset;
                -webit-box-shadow: 0 0 0 0 $blue inset;
                transition: .4s;
                -moz-transition: .4s;
                -webkit-transition: .4s;

                &:hover {
                    color: $white;
                    box-shadow: 0 -40px 0 0 $blue inset;
                    -moz-box-shadow: 0 -40px 0 0 $blue inset;
                    -webkit-box-shadow: 0 -40px 0 0 $blue inset;
                }
            }
        }

        .nav-next {
            position: absolute;
            right: 50px;
            top: 20px;
            width: 70px;
            height: 40px;
            cursor: pointer;

            img {
                max-height: 40px;
                width: auto;
                right: 30px;
                position: absolute;
            }
            .member-next {
                position: absolute;
                top: 20px;
                right: 15px;
                height: 40px;


                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 3px;
                    background: $blue;
                    top: 5px;
                    transform: rotate(-45deg);
                }

                &:after {
                    top: -4px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.john-info {
    overflow: hidden !important;

    .side-nav {
        opacity: 0;
        transform: translate3d(200px,-50%,0);
        -moz-transform: translate3d(200px,-50%,0);
        -webkit-transform: translate3d(200px,-50%,0);
    }

    #team h1 {
        opacity: 0;
        margin-left: -30%;
    }

    .member {
        transform: translate3D(200%,0,0);

        &.John {transform: none; border-right: 1px solid $light-gray;}

        .member-info a {
            opacity: 0;
            visibility: hidden;
        }
    }

    .memberInfo.johnInfo {
        background: transparent;
        width: 100%;
        height: 100vh;
        transform: none;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        color: $dark-gray;
        opacity: 1;
        visibility: visible;
        padding: 0px 100px;
        transition: 0.4s;
        transition-delay: 0.1s;

        .close-info {
            position: absolute;
            top: 50px;
            right: 80px;
            z-index: 999;
            cursor: pointer;
            width: 50px;
            height: 50px;

            &:before {
                content: '';
                background: $blue;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                background: $blue;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        .memberInfo-right {
            width: 66.66%;
            opacity: 1;
            @extend .flex-column;
            transform: translate3d(0, 0px,0);

            p {
                color: $dark-gray;
                font-size: 15px;
                font-weight: 300;
                text-align: justify;
                line-height: 1.7;
                margin: 20px 0 0;
                max-width: 800px;
            }
        }

    }
}

.jack-info {
    overflow: hidden !important;

    .side-nav {
        opacity: 0;
        transform: translate3d(200px,-50%,0);
        -moz-transform: translate3d(200px,-50%,0);
        -webkit-transform: translate3d(200px,-50%,0);
    }

    #team h1 {
        opacity: 0;
        margin-left: 30%;
    }

    .member {
        transform: translate3D(-100%,0,0);
        &.Smart {transform: translate3D(100%,0,0);}

        .member-info a {
            opacity: 0;
            visibility: hidden;
        }
    }

    .memberInfo.jackInfo {
        background: transparent;
        width: 100%;
        height: 100vh;
        transform: none;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        color: $dark-gray;
        opacity: 1;
        visibility: visible;
        padding: 0px 100px;
        transition: 0.4s;
        transition-delay: 0.1s;

        .close-info {
            position: absolute;
            top: 50px;
            right: 80px;
            z-index: 999;
            cursor: pointer;
            width: 50px;
            height: 50px;

            &:before {
                content: '';
                background: $blue;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                background: $blue;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        .memberInfo-right {
            width: 66.66%;
            opacity: 1;
            @extend .flex-column;
            transform: translate3d(0, 0px,0);

            p {
                color: $dark-gray;
                font-size: 15px;
                font-weight: 300;
                text-align: justify;
                line-height: 1.7;
                margin: 20px 0 0;
                max-width: 800px;
            }
        }

    }
}

.smart-info {
    overflow: hidden !important;

    .side-nav {
        opacity: 0;
        transform: translate3d(200px,-50%,0);
        -moz-transform: translate3d(200px,-50%,0);
        -webkit-transform: translate3d(200px,-50%,0);
    }

    #team h1 {
        opacity: 0;
        margin-left: 30%;
    }

    .member {
        transform: translate3D(-200%,0,0);
        &.John {transform: translate3D(-100%,0,0)}
        &.Smart {border-right: 1px solid $light-gray;}

        .member-info a {
            opacity: 0;
            visibility: hidden;
        }
    }

    .memberInfo.smartInfo {
        background: transparent;
        width: 100%;
        height: 100vh;
        transform: none;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        color: $dark-gray;
        opacity: 1;
        visibility: visible;
        padding: 0px 100px;
        transition: 0.4s;
        transition-delay: 0.1s;

        .close-info {
            position: absolute;
            top: 50px;
            right: 80px;
            z-index: 999;
            cursor: pointer;
            width: 50px;
            height: 50px;

            &:before {
                content: '';
                background: $blue;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                background: $blue;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        .memberInfo-right {
            width: 66.66%;
            opacity: 1;
            @extend .flex-column;
            transform: translate3d(0, 0px,0);

            p {
                color: $dark-gray;
                font-size: 15px;
                font-weight: 300;
                text-align: justify;
                line-height: 1.7;
                margin: 20px 0 0;
                max-width: 800px;
            }
        }

    }
}

/************************************************** PROJECTS ***************************************************************/

#projects {
    background: $white;
    min-height: 100vh;
    width: 100%;
    z-index: 3;
    position: relative;
    display: flex;
}

.projects-info {
    @extend .flex-column;
    width: 33.33%;
    float: left;
    height: 100%;
    padding: 50px 80px;
    transition: 0.4s;

    h1 {
        color: $dark-gray;
        font-size: 80px;
        font-weight: 100;
        text-transform: uppercase;
        margin: 30px 0 40px;

        span {
            color: $blue;
            font-weight: 900;
            clear: both;
            display: block;
        }

    }

    p {
        color: $dark-gray;
        font-size: 20px;
        font-weight: 200;
        line-height: 1.5;

        b {font-weight: 700;}
    }
}

.project {
    @extend .flex-column;
    width: 33.33%;
    float: left;
    position: relative;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;

    h2 {
        color: $white;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 0;
        line-height: 40px;
        text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    }

    p {
        color: $white;
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        margin: 5px 0;
        text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    }

    a {
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 0;
        top: 0;
        left: 0;
    }

    &.smartHome {
        background: url(../img/smart-home.jpg) no-repeat center center;
        background-size: cover;
    }

    &.businessDevelopment {
        background: url(../img/business-development.jpg) no-repeat center center;
        background-size: cover;
    }
}

.projectInfo {
    background: $light-gray-bg;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    z-index: 9;
    padding: 0px 100px 0px 100px;
    transform: translate3d(100%,0,0);

    .memberInfo-left {
        width: 40%;
        height: 100vh;
        opacity: 0;
        transition: .6s;
        transition-delay: .6s;
    }

    .memberInfo-right {
        width: 100%;
        float: right;
        height: 100vh;
        padding: 100px 50px 100px 100px;
        opacity: 0;
        transition: .6s;
        transition-delay: .8s;
        overflow-y: auto;

        h2 {
            opacity: 0;
            color: $white;
            font-size: 60px;
            font-weight: 200;
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 50px;
            transform: translate3d(40px,0px,0);
            -moz-transform: translate3d(40px,0px,0);
            -webkit-transform: translate3d(40px,0px,0);
            transition-delay: 0s;
            -moz-transition-delay: 0s;
            -webkit-transition-delay: 0s;
            transition-duration: 0s;
            -moz-transition-duration: 0s;
            -webkti-transition-duration: 0s;
        }

        p {
            color: $white;
            font-size: 17px;
            font-weight: 300;
            text-align: left;
            line-height: 1.7;
            margin: 20px 0 0;
            max-width: 800px;
            margin: 20px auto 0;
            opacity: 0;
            transform: translate3d(0,20px,0);
            transition-delay: 0s;
            transition-duration: 0s;

            iframe {
                border: 2px solid $white;
                box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.4);
                -moz-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.4);
                -webkit-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.4);
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $blue;
        z-index: 99;
        transition: 0.4s;
        transition-delay: 0.4s;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $dark-gray;
        z-index: 98;
        transition: 0.4s;
        transition-delay: 0.6s;
    }
}

.smartHome-info {
    overflow: hidden !important;

    .side-nav {
        opacity: 0;
        transform: translate3d(200px,-50%,0);
        -moz-transform: translate3d(200px,-50%,0);
        -webkit-transform: translate3d(200px,-50%,0);
    }

    #projects h1 {
        opacity: 0;
        transform: translate3d(-200%, 0 0);
        -moz-transform: translate3d(-200%, 0 0);
        -web-transform: translate3d(-200%, 0 0);
    }

    .projects-info, .project {
        transform: translate3D(-100%,0,0);
        -moz-transform: translate3D(-100%,0,0);
        -webkit-transform: translate3D(-100%,0,0);
    }

    .projectInfo.smartInfo {
        background: $dark-gray;
        width: 100%;
        height: 100vh;
        transform: none;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        color: $dark-gray;
        opacity: 1;
        visibility: visible;
        padding: 0px 0px 0px 100px;
        transition: 0.4s;
        transition-delay: 0.1s;

        &:before, &:after {
            width: 0;
        }

        .close-info {
            position: absolute;
            top: 50px;
            right: 50px;
            z-index: 999;
            cursor: pointer;
            width: 50px;
            height: 50px;

            &:before {
                content: '';
                background: $white;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                background: $white;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        .memberInfo-right {
            background: url(../img/smartHome-full-bg.jpg) center center no-repeat;
            background-size: cover;
            width: 100%;
            opacity: 1;

            h2 {
                opacity: 1;
                color: $white;
                font-size: 60px;
                font-weight: 200;
                text-align: center;
                text-transform: uppercase;
                transform: translate3d(0,0px,0);
                -moz-transform: translate3d(0,0px,0);
                -webkit-transform: translate3d(0,0px,0);
                transition-delay: 1.2s;
                -moz-transition-delay: 1.2s;
                -webkit-transition-delay: 1.2s;
                transition-duration: .4s;
                -moz-transition-duration: .4s;
                -webkit-transition-duration: .4s;
            }

            p {
                opacity: 1;
                color: $white;
                font-size: 17px;
                font-weight: 300;
                text-align: left;
                line-height: 1.7;
                margin: 20px 0 0;
                max-width: 800px;
                margin: 20px auto 0;

                transform: translate3d(0,0px,0);
                -moz-transform: translate3d(0,0px,0);
                -webkit-transform: translate3d(0,0px,0);

                transition-delay: 1.4s;
                -moz-transition-delay: 1.4s;
                -webkit-transition-delay: 1.4s;

                transition-duration: .4s;
                -moz-transition-duration: .4s;
                -webkit-transition-duration: .4s;
            }

            p.video {max-width: 1000px;margin: 40px auto 30px;}
        }

    }
}

.bDev-info {
    overflow: hidden !important;

    .side-nav {
        opacity: 0;
        transform: translate3d(200px,-50%,0);
        -moz-transform: translate3d(200px,-50%,0);
        -webkit-transform: translate3d(200px,-50%,0);
    }

    #projects h1 {
        opacity: 0;
        transform: translate3d(-200%, 0 0);
        -moz-transform: translate3d(-200%, 0 0);
        -web-transform: translate3d(-200%, 0 0);
    }

    .projects-info, .project {
        transform: translate3D(-100%,0,0);
        -moz-transform: translate3D(-100%,0,0);
        -webkit-transform: translate3D(-100%,0,0);
    }

    .projectInfo.bDeveInfo {
        background: $dark-gray;
        width: 100%;
        height: 100vh;
        transform: none;
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        color: $dark-gray;
        opacity: 1;
        visibility: visible;
        padding: 0px 0px 0px 100px;
        transition: 0.4s;
        transition-delay: 0.1s;

        &:before, &:after {
            width: 0;
        }

        .close-info {
            position: absolute;
            top: 50px;
            right: 50px;
            z-index: 999;
            cursor: pointer;
            width: 50px;
            height: 50px;

            &:before {
                content: '';
                background: $white;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                background: $white;
                width: 30px;
                height: 3px;
                position: absolute;
                left: 20%;
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        .memberInfo-right {
            background: url(../img/business-development-full-bg.jpg) center center no-repeat;
            background-size: cover;
            width: 100%;
            opacity: 1;

            h2 {
                opacity: 1;
                color: $white;
                font-size: 60px;
                font-weight: 200;
                text-align: center;
                text-transform: uppercase;
                transform: translate3d(0,0px,0);
                -moz-transform: translate3d(0,0px,0);
                -webkit-transform: translate3d(0,0px,0);
                transition-delay: 1.2s;
                -moz-transition-delay: 1.2s;
                -webkit-transition-delay: 1.2s;
                transition-duration: .4s;
                -moz-transition-duration: .4s;
                -webkit-transition-duration: .4s;
            }

            p {
                opacity: 1;
                color: $white;
                font-size: 17px;
                font-weight: 300;
                text-align: left;
                line-height: 1.7;
                margin: 20px 0 0;
                max-width: 800px;
                margin: 20px auto 0;

                transform: translate3d(0,0px,0);
                -moz-transform: translate3d(0,0px,0);
                -webkit-transform: translate3d(0,0px,0);

                transition-delay: 1.4s;
                -moz-transition-delay: 1.4s;
                -webkit-transition-delay: 1.4s;

                transition-duration: .4s;
                -moz-transition-duration: .4s;
                -webkit-transition-duration: .4s;
            }

            p.video {max-width: 1000px;margin: 40px auto 30px;}
        }

    }
}

/************************************************** PORTFOLIO ***************************************************************/

#portfolio {
    background: $blue;
    min-height: 100vh;
    width: 100%;
    z-index: 3;
    position: relative;
    display: flex;
    overflow-x: hidden;

    &:before {
        content: 'Our Work';
        position: absolute;
        right: -60px;
        top: 25px;
        color: rgba(0,0,0,0.05);
        font-size: 200px;
        font-weight: 900;
        text-transform: uppercase;
        z-index: 2;
    }

    .owl-next {
        background: none;
        width: 20px;
        height: 30px;
        font-size: 0;
        position: absolute;
        bottom: 50px;
        left: 100px;


        &:before {
            content: '';
            position: absolute;
            background: $white;
            width: 16px;
            height: 3px;
            top: 50%;
            right: 0;
            margin-top: -5px;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            position: absolute;
            background: $white;
            width: 16px;
            height: 3px;
            top: 50%;
            right: 0;
            margin-top: 5px;
            transform: rotate(-45deg);
        }
    }

    .owl-prev {
        background: none;
        width: 20px;
        height: 30px;
        font-size: 0;
        position: absolute;
        bottom: 50px;
        left: 50px;

        &:before {
            content: '';
            position: absolute;
            background: $white;
            width: 16px;
            height: 3px;
            top: 50%;
            left: 0;
            margin-top: 5px;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            position: absolute;
            background: $white;
            width: 16px;
            height: 3px;
            top: 50%;
            left: 0;
            margin-top: -5px;
            transform: rotate(-45deg);
        }
    }

    .back-img {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;

        img {
            display: block;
            animation: slowmove 5s infinite;
            box-shadow: 40px 40px 80px 0 rgba(0,0,0,.4);
            -moz-box-shadow: 40px 40px 80px 0 rgba(0,0,0,.4);
            -webkit-box-shadow: 40px 40px 80px 0 rgba(0,0,0,.4);
        }
    }

    .front-img {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 3;
        transition: 0.6s;
        -moz-transition: 0.6s;
        -webkit-transition: 0.6s;
        transition-delay: .4s;
        -moz-transition-delay: .4s;
        -webkit-transition-delay: .4s;
    }

    .work-info {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 5;
        transition: 0.6s;
        -moz-transition: 0.6s;
        -webkit-transition: 0.6s;
        transition-delay: .3s;
        -moz-transition-delay: .3s;
        -webkit-transition-delay: .3s;

        h2 {
            color: $white;
            font-size: 80px;
            text-transform: uppercase;
            font-weight: 900;
            line-height: 1;
            text-shadow: 10px 10px 20px rgba(0,0,0,0.3);
            margin: 0;
        }

        a {
            background: $white;
            padding: 15px 30px;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            display: inline-block;
            margin: 20px 0 0;
            color: #1F5AA6;
            box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.2);
            -moz-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.2);
            -webkit-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.2);
        }
    }

}

.baleinev {
    background: url(../img/festival.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    z-index: 3;
    position: relative;
    display: flex;

    .back-img {
        transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);
    }

    .front-img {
        transform: translate3d(-10%,-110%,0);
        -moz-transform: translate3d(-10%,-110%,0);
        -webkit-transform: translate3d(-10%,-110%,0);
    }

    .work-info {
        transform: translate3D(-450px,-50%,0);
        -moz-transform: translate3D(-450px,-50%,0);
        -webkit-transform: translate3D(-450px,-50%,0);

        a {color: #3354A0 !important;}
    }
}

.festigeek {
    background: url(../img/festigeek-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    z-index: 3;
    position: relative;
    display: flex;

    .back-img {
        transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);
    }

    .front-img {
        transform: translate3d(-10%,-135%,0);
        -moz-transform: translate3d(-10%,-135%,0);
        -webkit-transform: translate3d(-10%,-135%,0);
    }

    .work-info {
        transform: translate3D(-450px,-50%,0);
        -moz-transform: translate3D(-450px,-50%,0);
        -webkit-transform: translate3D(-450px,-50%,0);

        a {color: #3B2566 !important;}
    }
}

.balelec {
    background: url(../img/balelec-bg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    z-index: 3;
    position: relative;
    display: flex;

    .back-img {
        transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);
    }

    .front-img {
        transform: translate3d(-10%,-150%,0);
        -moz-transform: translate3d(-10%,-150%,0);
        -webkit-transform: translate3d(-10%,-150%,0);
    }

    .work-info {
        transform: translate3D(-450px,-50%,0);
        -moz-transform: translate3D(-450px,-50%,0);
        -webkit-transform: translate3D(-450px,-50%,0);

        a {color: #DFD63D !important; background: $dark-gray !important;}
    }
}

.active {
    .work-info {
        transform: translate3D(-600px,-50%,0);
        -moz-transform: translate3D(-600px,-50%,0);
        -webkit-transform: translate3D(-600px,-50%,0);
    }
    .baleinev {
        .front-img {
            transform: translate3d(-50%,-110%,0);
            -moz-transform: translate3d(-50%,-110%,0);
            -webkit-transform: translate3d(-50%,-110%,0);
        }

    }

    .festigeek {
        .front-img {
            transform: translate3d(-50%,-135%,0);
            -moz-transform: translate3d(-50%,-135%,0);
            -webkit-transform: translate3d(-50%,-135%,0);
        }

    }

    .balelec {
        .front-img {
            transform: translate3d(-50%,-150%,0);
            -moz-transform: translate3d(-50%,-150%,0);
            -webkit-transform: translate3d(-50%,-150%,0);
        }

    }
}

/************************************************* TESTIMONIALS ***********************************************************/

#testimonials {
    background: url(../img/testimonials-bg-img.png) no-repeat center bottom $light-gray-bg;
    background-size: 700px auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 4;
    height: auto;
    padding: 0 0 50px;
    overflow: hidden;
    top: 0 !important;

    h1 {
        width: 100%;
        margin: 135px 0 0;
        color: $dark-gray;
        font-size: 80px;
        font-weight: 200;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        z-index: 6;
        text-shadow: 20px 20px 30px rgba(0,0,0,0.15);

        b {
            color: $blue;
            font-weight: 900;
        }
    }

    .clients {
        position: absolute;
        text-align: center;
        top: 45%;
        left: 50%;
        max-width: 1000px;
        margin: 0 auto;
        z-index: 2;
        transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);

        blockquote {
            color: $dark-gray;
            font-size: 24px;
            font-weight: 200;
            font-style: italic;
            line-height: 1.75;
            width: 100%;
        }

        cite {
            color:  $dark-gray;
            font-size: 24px;
            font-style: normal;
            font-weight: 200;
            font-style: normal;

            b {font-weight: 700;}
        }

        .owl-next {
            background: none;
            width: 50px;
            height: 50px;
            font-size: 0;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate3D(0,-50%,0);
            -moz-transform: translate3D(0,-50%,0);
            -webkit-transform: translate3D(0,-50%,0);

            &:before {
                content: '';
                position: absolute;
                background: $dark-gray;
                width: 16px;
                height: 3px;
                top: 50%;
                right: 0;
                margin-top: -5px;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                position: absolute;
                background: $dark-gray;
                width: 16px;
                height: 3px;
                top: 50%;
                right: 0;
                margin-top: 5px;
                transform: rotate(-45deg);
            }
        }
        .owl-prev {
            background: none;
            width: 50px;
            height: 50px;
            font-size: 0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate3D(0,-50%,0);
            -moz-transform: translate3D(0,-50%,0);
            -webkit-transform: translate3D(0,-50%,0);

            &:before {
                content: '';
                position: absolute;
                background: $dark-gray;
                width: 16px;
                height: 3px;
                top: 50%;
                left: 0;
                margin-top: 5px;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                position: absolute;
                background: $dark-gray;
                width: 16px;
                height: 3px;
                top: 50%;
                left: 0;
                margin-top: -5px;
                transform: rotate(-45deg);
            }
        }
    }

    .pictures {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 10px;
        text-align: center;
        z-index: 1;

        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    &:before {
        content: 'Testimonials';
        position: absolute;
        left: -60px;
        top: 65px;
        color: $light-gray;
        font-size: 200px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

/************************************************* CONTACT ***********************************************************/

#contact {
    background: url(../img/contact-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 4;
    height: auto;
    padding: 0 0 50px;
    overflow: hidden;
    top: 0 !important;

    .contact-box {
        background: url(../img/contact-box-bg.jpg) no-repeat center center;
        background-size: cover;
        width: 1030px;
        height: 580px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 100px;
        box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.3);
        -webkit-box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.3);
        transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);

        .contact-left {
            background: url(../img/contact-box-bg.jpg) -70px center no-repeat;
            background-size: cover;
            width: 60%;
            height: 100%;
            float: left;
        }

        .contact-right {
            background: $dark-gray;
            position: relative;
            width: 40%;
            float: right;
            height: 100%;

            #contact-form {
                position: relative;
                padding: 80px 30px;

                input, textarea {
                    background: none;
                    width: 100%;
                    color: $white;
                    font-size: 15px;
                    font-weight: 300;
                    padding: 10px;
                    margin: 0 0 10px;
                    border: 1px solid rgba(255,255,255,0.2);
                    transition: 0.4s;
                    -moz-transition: 0.4s;
                    -webkit-transition: 0.4s;

                    &:focus {
                        border-color: $white;
                    }
                }


                input {
                    padding: 10px 15px;
                }
                textarea {
                    resize: none;
                    height: 100px;
                }

                button {
                    background: none;
                    width: 100%;
                    padding: 10px 20px;
                    color: $white;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    cursor: pointer;
                    border: 1px solid $white;
                    box-shadow: 0 0px 0 0 $white inset;
                    -moz-box-shadow: 0 0px 0 0 $white inset;
                    -webkit-box-shadow: 0 0px 0 0 $white inset;
                    transition: 0.4s;
                    -moz-transition: 0.4s;
                    -webkit-transition: 0.4s;

                    &:hover {
                        color: $dark-gray;
                        box-shadow: 0 -60px 0 0 $white inset;
                        -moz-box-shadow: 0 -60px 0 0 $white inset;
                        -webkit-box-shadow: 0 -60px 0 0 $white inset;
                    }
                }
            }

            .contact-info {
                position: absolute;
                left: 30px;
                bottom: 20px;

                li {
                    display: block;
                    color: $white;
                    font-size: 15px;
                    font-weight: 200;
                    line-height: 30px;
                }
            }

            .social-icon {
                position: absolute;
                right: 30px;
                bottom: 25px;

                li {
                    margin-left: 20px;
                }
            }
        }
    }

    h1 {
        width: 100%;
        margin: -110px 0 0;
        color: $white;
        font-size: 80px;
        font-weight: 900;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        z-index: 6;
        text-shadow: 20px 20px 30px rgba(0,0,0,0.15);

        b {
            color: $blue;
            font-weight: 900;
        }

        span {
            display: block;
            font-size: 67px;
            font-weight: 200;
        }
    }

    &:before {
        content: "Don't be shy";
        position: absolute;
        right: -60px;
        top: 25px;
        color: rgba(0,0,0,0.4);
        font-size: 200px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

/************************************************** PRELOAD ***************************************************************/

#load {
    @extend .flex-column;
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background: $white;

    transition: 0.8s height, 0.4s opacity, 0.79s visibility;
    -moz-transition: 0.8s height, 0.4s opacity, 0.79s visibility;
    -webkit-transition: 0.8s height, 0.4s opacity, 0.79s visibility;

    z-index: 99999;
    box-shadow: 0 0 0 20px #FFF inset, 0 0 0 21px #f2f2f5 inset;


    .logo {
        position: relative;
        bottom: auto;
        transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        top: auto;
        left: 50%;
        right: auto;
        text-align: center;
        transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -webkit-transform: translate3d(-50%,-50%,0);

        &:before {
            content: 'zweibrat.ch';
            position: absolute;
            left: 0;
            bottom: -40px;
            width: 100%;
            text-align: center;
            color: $blue;
            font-size: 30px;
            font-weight: 900;
            letter-spacing: .09em;
            text-transform: uppercase;
            text-shadow: 4px 4px 8px rgba(0,0,0,0.1);
        }

        &:after {
            content: 'Web & Business Development';
            position: absolute;
            left: 0;
            bottom: -60px;
            width: 100%;
            text-align: center;
            color: $dark-gray;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

         img {
            max-height: 70px;
            animation: rotate 1.9s linear infinite;
            animation-iteration-count: 1;
            transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            width: auto;
        }
    }
}

.loaded #load {
    height: 0;
    visibility: hidden;

    .logo {opacity: 0;}
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slowmove {
  0% {
    -webkit-transform: perspective(400px) scale(1);
  }
  50% {
    -webkit-transform: perspective(400px) rotateY(2deg) scale(1);
  }
  100% {
    -webkit-transform: perspective(400px) scale(1);
  }
}

@keyframes slowmove2 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px) translateX(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/************************************************* scroll bar *************************************************************/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: $dark-gray;
}

::-webkit-scrollbar-thumb {
    background: darken($dark-gray, 15%);
}

