<div id="fullpage">
  <div id="intro" class="section">
    <div class="intro-text">
      <h1 class="h1-1">Tout comme vous</h1>
      <h1 class="h1-2">Votre com doit être</h1>
      <h1 class="h1-3">Unique</h1>
    </div>
    <%= image_tag "logo", :class => "centrocentered" %>
   </div>
   <div id="services" class="section">
     <div class="service">
       <div class="display" data-id="1">
         <%= image_tag "icons/icon-1", :class => "icon" %>
         <h1>Flyers</h1>
         <h1 class="indented"> Carte</h1>
         <a href="#services" class="readmore">En savoir plus</a>
       </div>
       <div class="content" data-id="1">
         <h2>Un sous titre p-e ?</h2>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
       </div>
     </div>
     <div class="service">
       <div class="display" data-id="2">
         <%= image_tag "icons/icon-2", :class => "icon" %>
         <h1>Site</h1>
         <h1 class="indented">Web</h1>
         <a href="#services" class="readmore">En savoir plus</a>
       </div>
       <div class="content" data-id="2">
         <h2>Un sous titre p-e ?</h2>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
       </div>
     </div>
     <div class="service">
       <div class="display" data-id="3">
         <%= image_tag "icons/icon-3", :class => "icon" %>
         <h1>Design</h1>
         <h1 class="indented">Illutration</h1>
         <a href="#services" class="readmore">En savoir plus</a>
       </div>
       <div class="content" data-id="3">
         <h2>Un sous titre p-e ?</h2>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
       </div>
     </div>
     <div class="service">
       <div class="display" data-id="4">
         <%= image_tag "icons/icon-4", :class => "icon" %>
         <h1>Street</h1>
         <h1 class="indented">Com</h1>
         <a href="#services" class="readmore">En savoir plus</a>
       </div>
       <div class="content" data-id="4">
         <h2>Un sous titre p-e ?</h2>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
       </div>
     </div>
     <div class="service">
       <div class="display" data-id="5">
         <%= image_tag "icons/icon-5", :class => "icon" %>
         <h1>Photo</h1>
         <h1 class="indented">Vidéo</h1>
         <a href="#services" class="readmore">En savoir plus</a>
       </div>
       <div class="content" data-id="5">
         <h2>Un sous titre p-e ?</h2>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
       </div>
     </div>
     <div class="service">
       <div class="display" data-id="6">
         <%= image_tag "icons/icon-6", :class => "icon" %>
         <h1>com</h1>
         <h1 clas="indented">Unique</h1>
         <a href="#services" class="readmore">En savoir plus</a>
       </div>
       <div class="content" data-id="6">
         <h2>Un sous titre p-e ?</h2>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
         <p>et la un text asszez long</p>
       </div>
     </div>
   </div>
   <div id="contact" class="section">
     <div class="userdata"></div>
     <div class="order">
       <div class="ordertype">
         <div class="icon"></div>
         <div class="text">TESTING</div>
         <div class="upload"></div>
       </div>
       <div class="ordertype">
         <div class="icon"></div>
         <div class="text">TESTING</div>
         <div class="upload"></div>
       </div>
       <div class="ordertype">
         <div class="icon"></div>
         <div class="text">TESTING</div>
         <div class="upload"></div>
       </div>
       <div class="ordertype">
         <div class="icon"></div>
         <div class="text">TESTING</div>
         <div class="upload"></div>
       </div>
       <div class="ordertype">
         <div class="icon"></div>
         <div class="text">TESTING</div>
         <div class="upload"></div>
       </div>
       <div class="ordertype">
         <div class="icon"></div>
         <div class="text">TESTING</div>
         <div class="upload"></div>
       </div>
     </div>
   </div>
</div>

<script type="text/javascript">
  function getChildren(n, skipMe){
    var r = [];
    for ( ; n; n = n.nextSibling ){
      if ( n.nodeType == 1 && n != skipMe){
        r.push( n );
      }
    }
    return r;
  };

  function getSiblings(n){
    return getChildren(n.parentNode.firstChild, n);
  }

  function activateSection(section){
    section.classList.add("active");
    other_sections = getSiblings(section);

    for (i = 0; i < other_sections.length; i++) {
        other_sections[i].classList.remove("active");
        other_sections[i].classList.add("hidden");
    }
  }

  $(document).on('turbolinks:load', function() {
    $('#fullpage').fullpage();
    $('.readmore').click(function(event){
      event.preventDefault();
      activateSection(this.parentNode.parentNode);
    });
  });
</script>
