// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Vars

$big : 1200px;
$medium : 900px;
$small : 550px;

@mixin responsive($attribute, $mini_val, $small_val, $medium_val, $big_val){
    #{$attribute}: $mini_val;
    @media (min-width: $small){
      #{$attribute}: $small_val;
    }
    @media (min-width: $medium){
      #{$attribute}: $medium_val;
    }
    @media (min-width: $big){
      #{$attribute}: $big_val;
    }
}

@mixin centered($width, $top, $left){
    width: $width;
    height: $width;
    position: absolute;
    left: $left;
    top: $top;
    margin-left: -$width/2;
    margin-top: -$width/2;
}

// ANIMATIONS

.move-intro-text{
    opacity: 0;
    animation-name: intro_text_animation;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes intro_text_animation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.hide-section-left{
    opacity: 0;
    left: -100px;
    width: 0px;
    animation-name: section_left_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
@keyframes section_left_animation{
  0%{
    opacity: 1;
    left: 0px;
    @include responsive(width, 100%, 100%/2, 100%/3, 100%/6);
  }
  50%{
    opacity: 0;
    left: -50px;
    @include responsive(width, 100%, 100%/2, 100%/3, 100%/6);
  }
  100%{
    width: 0px;
  }
}

// Styling

#fullpage{
  @include responsive(max-width, 100%, 0.9*$small, 0.9*$medium, 0.9*$big);
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

#intro{
  .centrocentered{
    @include centered(200px, 50%, 50%);
  }
  .intro-text{
    .h1-1{
    @include centered(200px, 40%, 40%);
    @extend .move-intro-text;
      animation-delay: 0s;
    }
    .h1-2{
    @include centered(200px, 50%, 70%);
    @extend .move-intro-text;
      animation-delay: 0.6s;
    }
    .h1-3{
    @include centered(200px, 75%, 50%);
    @extend .move-intro-text;
      animation-delay: 1.2s;
    }
  }
}

#services{
  .service{
    @include responsive(width, 100%, 100%/2, 100%/3, 100%/6);
    position: relative;
    height: 500px;
    float: left;
    .readmore{
      margin: 20px auto 0;
      padding: 15px 30px;
      border: 1px solid #373737;
      color: #373737;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
    }
    &.hidden{
      @extend .hide-section-left;
    }
    &.active{

    }
  }
}
